[2016-09-26 01:05] davelab6 opened #1 "LICENSE"
Please add a LICENSE file stating the terms of the project :)

[2016-09-26 01:32] #1 closed

[2016-09-26 01:35] jpt commented on #1
@davelab6 apache 2 is compatible with google fonts right? :)

[2016-09-26 01:45] davelab6 commented on #1
Yes, although OFL is strongly preferred, because OFL is incompatible with all other licenses

[2016-09-26 01:46] davelab6 commented on #1
Also Apache has requirements for attribution which may extend to documents which isn't suitable for fonts

[2016-09-26 01:52] jpt commented on #1
@davelab6 If I use OFL and a reserved font name of "Barlow," should I worry about this? Or in this case would I just not use a reserved font name, and hope to quietly become the canonical Barlow? :) http://www.fonts2u.com/barlow-by-thunderpanda-ver-01.font

[2016-09-26 02:02] jpt commented on #1
@davelab6 also -- if there is no reserved font name, will that prevent the issue that FontSquirrel has with doing its own conversion? I've updated the license to OFL without a reserved font name.

[2016-09-26 11:36] davelab6 commented on #1
I recommend no RFN for reasons explained in
https://github.com/googlefonts/gf-docs/blob/master/ProjectChecklist.md#OFL

[2017-02-27 11:34] m4rc1e opened #2 "quotedblbase, component error"
![screen shot 2017-02-27 at 11 32 27](https://cloud.githubusercontent.com/assets/7525512/23359954/b0f97af6-fce0-11e6-959a-4d98cb810da3.png)

[2017-02-27 11:39] m4rc1e opened #3 "Restructure repository to match GF checklist"
We have a spec [here](https://github.com/googlefonts/gf-docs/blob/master/ProjectChecklist.md)

Copyright string should be:
`Copyright 2017 The Barlow Project Authors (https://github.com/jpt/barlow)`

This should also be the first line of the OTF.txt doc

The repo structure should look like the following examples:
[Nunito](https://github.com/googlefonts/NunitoFont), [Montserrat](https://github.com/

[2017-02-28 08:08] #2 closed

[2017-02-28 08:44] jpt commented on #3
@m4rc1e I think this is done as of 1fd9e2e1180e9c3e3a56fce8ce316ee2148c5ac4 so I'm closing the issue but please re-open if there's anything in gf spec that I overlooked (there are no trademarks involved)

[2017-02-28 08:44] #3 closed

[2017-03-02 11:12] jpt opened #4 "Support all latin unique glyphs"
Support all 219 [latin unique glyphs](https://github.com/google/fonts/blob/master/tools/encodings/latin_unique-glyphs.nam), currently at 163.

[2017-03-06 13:28] jpt opened #5 "Glyphs not rounding /s properly and maybe others"
Not sure why this is happening

<img width="560" alt="screen shot 2017-03-06 at 5 27 34 am" src="https://cloud.githubusercontent.com/assets/5319916/23611811/a9d8f8ee-022d-11e7-80a1-cab1c83d9074.png">

[2017-03-08 08:40] jpt commented on #5
Ah, this is because of the way it is drawn, not some problem with glyphs.. points almost overlapper. Will fix.

[2017-03-08 08:51] #5 closed

[2017-03-29 08:46] jpt opened #6 "Add smallcaps -- possible with VF?"
Not sure how to define arbitrary axes in Glyphs but would be cool if the smallcaps could be part of the GX file (or whatever ends up winning on the web)

[2017-03-29 11:21] jpt opened #7 "Make numbers smooth at left and right extremes"
Or maybe the numbers look more like a license plate this way and that's ok.

But for now, thinking to change /5 etc to have points at left and right extemes, like the /o:

<img width="358" alt="screen shot 2017-03-29 at 4 20 58 am" src="https://cloud.githubusercontent.com/assets/5319916/24452190/e45b32e6-1436-11e7-93db-b2e2c9f39057.png">
<img width="249" alt="screen shot 2017-03-29 at 4 21 08 am"

[2017-03-29 13:42] davelab6 commented on #6
I suggest posting about that in type drawers because I had just heard this
suggestion from @twardoch and would be great to hear a fresh voice of a
real type designer

On Mar 29, 2017 4:46 AM, "jeremy tribby" <notifications@github.com> wrote:

[2017-04-01 02:25] jpt commented on #6
Started a thread if you haven't seen it -- http://typedrawers.com/discussion/2081/small-caps-as-a-variable-font-axis-in-glyphs -- sounds impossible in the way I intended, but seems like there's interest for something like "smart components for VF"

[2017-04-28 09:38] #7 closed

[2017-05-10 05:59] jpt commented on #4
@davelab6 are .null, CR, nonbreakingspace, nonmarkingreturn, and .notdef actually needed in the Gylphs file or are they generated on output? not actually sure what to do with them. so close to closing this :)

[2017-05-21 04:16] jpt commented on #4
Woo-hoo 💯

[2017-05-21 04:16] #4 closed

[2017-05-27 07:03] jpt commented on #6
Smallcaps are in but not using any VF stuff. Closing until there's support.

[2017-05-27 07:03] #6 closed

[2017-07-10 09:43] jpt opened #8 "GX file interpolates bizarrely"
Looking into this... contacted Georg/Ranier in case it is a bracket layer thing. Maybe be due to decomposition of components too... not sure. /V/F/l/i are correct here but all have same weight / width (using font-variation-settings: 'wght' and 'wdth'). Also width goes in reverse order, may be the culprit.. Lots of possibilities.

<img width="419" alt="screen shot 2017-07-10 at 12 34 00 am" src="ht

[2017-07-11 08:13] jpt commented on #8
Ok, looked into it an it is indeed only affecting letters with a brace layer. Hoping there's a solution from Glyphs.

[2017-07-11 09:47] jpt commented on #8
In the process of fixing it, may need to remove slant axis for now, discussion here: https://forum.glyphsapp.com/t/variable-font-and-braced-layers/5835/5

[2017-07-12 04:56] jpt commented on #8
This is a bug in Glyphs, it is due to multi axis bracket layers. Rainer suggests trying a design space like this, so I think I have to modify the width values...

![image](https://user-images.githubusercontent.com/5319916/28102340-71e29520-6683-11e7-8da3-af4dd14efed3.png)

More details here: https://forum.glyphsapp.com/t/variable-font-and-braced-layers/5835/18

[2017-07-13 04:19] jpt opened #9 "RemoveOverlap filter in Glyphs is not working for GX (only instances)"
![image](https://user-images.githubusercontent.com/5319916/28150168-bbd6adf0-6747-11e7-9718-add089b45e8b.png)

Thread: https://forum.glyphsapp.com/t/removeoverlap-and-decompose-glyphs-for-gx-file/6818

[2017-07-13 07:26] jpt commented on #8
Tried this setup and it still failed. I do not think Glyphs supports variable fonts with two axes in addition to brace layers.

![image](https://user-images.githubusercontent.com/5319916/28155046-a4ae59ce-6761-11e7-821f-53f4d6d56ca1.png)

[2017-07-13 12:44] davelab6 commented on #9
Variable Fonts should have overlaps

On Jul 13, 2017 12:19 AM, "jeremy tribby" <notifications@github.com> wrote:

[2017-07-13 12:48] jpt commented on #9
@davelab6 mekkablue just clued me in to that -- so this is a rendering bug with webkit or blink I guess?

I don't think Barlow can keep overlaps in any case, though, because it has negative rounded edges. Wish there was a way to do it lossless in Glyphs but only for instances not VF

[2017-07-13 12:56] jpt commented on #8
So it's a Glyphs bug but there is a fix which is adding these layers. I forget which glyph the above example is referring to, but if there is a {100,500}, for example, then it needs a corresponding {100,300} but that is it, the middle three should be grey indicating interpolation.

I am color labeling pink on all glyphs that have the "fix" layers for now

[2017-07-13 14:11] #9 closed

[2017-07-13 14:19] jpt opened #10 "Enable round edges in OTVar by removing all components and overlaps then rounding the font"
Similar to #9, it also (incidentally) fixes the rendering error with overlapping shapes in OTVar.

I imagine I will write a Glyphs script to do this using its own rounding function, because I would like to maintain a separate source file with a "lossless" (i.e. non-rounded) version of Barlow

[2017-07-14 00:48] davelab6 commented on #8
Good work!

[2017-07-14 00:49] davelab6 commented on #9
I expect Apple to sort their platform out ;)

On 13 July 2017 at 10:11, jeremy tribby <notifications@github.com> wrote:

--
Cheers
Dave

[2017-07-14 00:50] davelab6 commented on #10
Agree

[2017-07-14 01:59] jpt opened #11 "Create italics/obliques"
Real ones! This is a ways off. But I removed them from the glyphs file because even if they end up being faux obliques (looked pretty good with "Transformations;Slant:7;SlantCorrection:0;Origin:4;") but I think it's a better workflow to keep them separate (except maybe in an OTVar file with a slant axis...

[2017-07-16 11:25] jpt commented on #10
I am thinking of a build step something like this, although it will be hard/impossible to script it all now that I think about it -- letters like Ø are going to become incompatible across masters once overlap is removed. This also assumes italic and roman masters will be compatible but I think that should be easy for Barlow

![image](https://user-images.githubusercontent.com/5319916/28247094-ad6ba

[2017-07-16 15:23] davelab6 commented on #10
I'm not sure about the remove overlap part for a VF

On Jul 16, 2017 7:25 AM, "jeremy tribby" <notifications@github.com> wrote:

[2017-07-17 01:23] jpt commented on #10
@davelab6 I would prefer not to, but I think the interior/negative rounding makes it difficult not to.

this is the desired output for /H

<img width="419" alt="screen shot 2017-07-16 at 6 14 21 pm" src="https://user-images.githubusercontent.com/5319916/28253039-39ec6ff0-6a53-11e7-96df-88589b58c582.png">

but this is what happens to the outlines if I were to apply my rounding settings without remo

[2017-07-17 02:34] davelab6 commented on #10
Take a look at Decovar in trufont or robofont; it's converted to ps curves
in glyphsapp but the way TT curves work can solve this.....

On Jul 16, 2017 9:23 PM, "jeremy tribby" <notifications@github.com> wrote:

[2017-07-18 05:02] jpt commented on #10
@davelab6 what am I looking at in Decovar exactly? there's so much going on in every file! it's also possible there's something you can see that I can't --- /sources/2-build/ implies there is maybe a /sources/1-something/ folder somewhere :)

Looking in RoboFont I see it's easy enough to handle some interior curves, but doesn't help any with things like crossbars-

<img width="415" alt="screen sho

[2017-07-18 05:33] jpt commented on #10
you're suggesting this? (upper right)

![image](https://user-images.githubusercontent.com/5319916/28302033-ca371f28-6b3f-11e7-967a-f9def76ca322.png)

are the crazy half-outlines done manually? or is there some step to get there? I admittedly don't know much about the difference between TT and PS curves

[2017-08-06 23:53] jpt commented on #10
Alright so I've scripted the first part of this as a Glyphs script. It decomposes letters in a way that transfers brace layers from components to the parent glyph first.  And it only does it to [a-zA-Z] letters, not to diacritic marks etc. This is the first step in flattening the file for VF.

If I remove overlaps, then the layers become incompatible, so I think I still need to learn about the Tru

[2017-08-07 00:27] #8 closed

[2017-11-06 08:28] davelab6 opened #14 "Bring language support to 100% for partially covered languages"
I'd like to request just a few languages which have over 90% character support and are just missing a few characters according to Unicode CLDR :)

| Language (code) | Coverage | %Coverage | Missing Characters |
| ---- | ---- | ---- | ---- |
| Romanian (ro) | 101/102 | 99 | \u2010 (‐) |
| Estonian (et) | 104/105 | 99 | \u014f (ŏ) |
| French (fr) | 111/113 | 98 | \u2010 (‐), \u01d4 (ǔ) |
| Indonesia

[2017-11-06 08:28] davelab6 opened #15 "Support Vietnamese"
| Language (code) | Coverage | %Coverage | Missing Characters |
| ---- | ---- | ---- | ---- |
| Vietnamese (vi) | 104/157 | 66 | \u2010 (‐), \u0129 (ĩ), \u2032 (′), \u2033 (″), \u0169 (ũ), \u01a0 (Ơ), \u01a1 (ơ), \u1ea1 (ạ), \u1ea3 (ả), \u1ea5 (ấ), \u1ea7 (ầ), \u1ea9 (ẩ), \u1eab (ẫ), \u1ead (ậ), \u1eaf (ắ), \u01af (Ư), \u01b0 (ư), \u1eb1 (ằ), \u1eb3 (ẳ), \u1eb5 (ẵ), \u1eb7 (ặ), \u1eb9 (ẹ), \u1ebb

[2017-11-09 07:06] Nakouthin opened #16 "Cyrillic Support"
I absolutely love this font and I've been searching for a free good looking DIN/Highway Gothic alternative for years, but what about Cyrillic support? Any plans for that?

[2017-11-09 08:36] jpt commented on #16
Hi @Nakouthin - thanks, I'm so glad you like it! And thanks for opening the issue -- Cyrillic is something I would love to see in Barlow. I am not sure when it will happen (and it could be quite a while), but as of now it is fair to say that yes, it is planned.

[2017-11-11 13:17] cdlm commented on #14
Esperanto (eo) needs just a dozen latin letters with diacritics: ĉĈĝĜĥĤĵĴŝŜŭŬ (that's cC gG hH jJ sS with circumflex, and uU with breve).

[2017-11-11 17:06] narvego opened #17 "Please fix the kerning with polish "ł" character"
Hello,

This font is great. Clear and professional. And beauty. But, I have found an one big problem with kerning polish "ł" character with some other letters. I have send you an screenshots. It seems, that there is only need to increase a space after and before polish "ł", when this letter appears in pair with most of next characters.

Also, after polish "ą" there is little too big space. But it

[2017-11-11 19:49] jpt commented on #17
Hi @narvego - thank you for opening this issue, I really appreciate the help from readers of non-English languages! I will make sure a fix for both the ł and ą is included in the next release, which should be fairly soon as I've noticed another unrelated but easy-to-fix spacing issue with the black weight.

Aside from the spacing issue, do you think the Polish characters mostly look correct?

Than

[2017-11-12 02:58] jpt commented on #17
@narvego This is fixed as of commit d50bfaa -- please let me know if you find other problems with Polish support, cheers!

[2017-11-14 02:43] scootman opened #18 "Middle dot (Interpunct) vertical postion"
My understanding is this glyph should be vertically centered within the x height. I'm seeing it the same as a period/full-stop — on the baseline.

[2017-11-14 03:49] jpt commented on #18
Thanks @scootman -- perfect timing on opening this issue, I'm just about to push up a new minor release with a few fixes, will include this along with it

[2017-11-14 04:03] #18 closed

[2017-11-15 12:14] narvego opened #19 "Problem with italic "p""
Hi,

There is a small problem with italic "p". Not only in Barlow Condensed - SemiBold Italic, but in other faces too.  Just look please:

![barlow-kerning4](https://user-images.githubusercontent.com/33578072/32835498-9ddfdffc-ca06-11e7-9047-00f850d63a37.png)

Ps.
It is "barlow-1.104" version and "ttf" files. In "otf" files this problem seems to not exist.

[2017-11-15 13:38] narvego opened #20 "Polish "ogonki" positions - proposition of improvements"
This is only a proposition - I think, that Barlow font with the polish characters will be presented more better, if the polish "ogonki" gonna be equaled with a dot on letter "i" in one horizontaly position. The images below show also the size of "i" and "ż" ogonki dot, which is not correct (in my opinion) position (red arrows). The proposed correct position is showed by green arrows.

What do you

[2017-11-15 20:26] jpt commented on #19
Hi @narvego -- thanks for noticing this, I'm looking into it! I think it's an issue with the way Glyphsapp is handing the decomposition of Glyphs when exporting TTF files, but not sure yet...

[2017-11-15 20:36] jpt commented on #20
@narvego Thank you for all your help with Polish letters! I agree with your assessment that the dot is too small. I also agree the accents generally need uniform y-positions.

I will probably fix the size of the dot along with #19 for a 1.105 release today. Fixing all the accents (z,n,s,c above) will take a little more time.

[2017-11-15 21:40] jpt commented on #11
The faux obliques are back in as of a while ago. And couple of problem characters are being replaced. Really needs some sort of `Cursify` filter to fix to get the stroke angle correct, and some kerning stuff too.

[2017-11-15 21:41] jpt commented on #19
I've alerted the Glyphs team to the issue that caused this -- https://forum.glyphsapp.com/t/decompose-glyphs-before-transformations/5497/10

And have recompiled the binaries using Glyphs 2.5b-1084 which appears to fix the problem. Will push up a new release (1.105) then close this issue.

[2017-11-15 21:50] #19 closed

[2017-11-16 00:23] #20 closed

[2017-11-16 00:25] jpt commented on #20
@narvego I've fixed this in 1.106 -- please feel free to reopen the issue (or create a new one) if you find any other problems. Thanks again for your help!

[2017-11-16 10:30] thlinard commented on #14
I believe the title is misleading: 100% compatibility with CLDR can be see as a desirable goal, but the coverage requested isn't necessary for full support of the designated languages.
French doesn't need ǔ, English doesn't need ĕĭŏŭ, etc.: this is because CLDR requests romanization, and specially pinyin romanization.

[2017-11-19 03:34] jpt opened #21 "Improve Ø and ø (oslash) angles"
I did a fairly poor job of drawing these Glyphs

<img width="277" alt="screen shot 2017-11-18 at 7 24 40 pm" src="https://user-images.githubusercontent.com/5319916/32987113-4fdfe7b0-cc96-11e7-8a60-342562f3d642.png">

<img width="357" alt="screen shot 2017-11-18 at 7 24 20 pm" src="https://user-images.githubusercontent.com/5319916/32987114-4ff7d0d2-cc96-11e7-8546-da429b12d57f.png">

Would probably

[2017-11-20 14:56] davelab6 commented on #21
It is possible

On Nov 18, 2017 10:34 PM, "jeremy tribby" <notifications@github.com> wrote:

[2017-11-21 08:47] jpt commented on #21
In Glyphsapp it's not possible for all glyphs that have brace layers because bracket + brace layers cant be combined and bracket layers cant be used in multi axis fonts

But because it's an /oslash, I can luckily get away with a trick :)

https://forum.glyphsapp.com/t/bracket-layers-in-variable-fonts-bracket-brace/7655/4

[2017-11-21 19:57] #21 closed

[2017-11-23 23:09] narvego commented on #17
Hello,

I have found a small problem. Kerning of "Ł" letter with letters placed on left side of "Ł", like "M", "N", "B", "C", "D", "S", "U" and many others, in medium, semibold and other weights is not correctly, as we can see on the picture:

This happens in Barlow, Barlow Condensed and Barlow Semicondensed family.

![barlow-kerning6](https://user-images.githubusercontent.com/33578072/33190301-8f

[2017-11-24 09:10] jpt commented on #17
Hi @narvego - thanks again for the help! I'm glad you're enjoying the font enough to want to improve it :)

I'll add this to 1.203, which should be ready in a few days. I will close this issue when I've taken care of it.

[2017-11-25 13:38] #17 closed

[2017-11-25 13:41] jpt commented on #17
Ok @narvego - should be fixed in 1.203. Thanks again for the bug report!

[2017-11-26 07:23] jpt commented on #15
Hey @crystaltype - @davelab6 recommended I get in touch in case you're available to help with bringing Vietnamese to Barlow, which I'm about to start on - let me know! I like your fork of Montserrat! :)

[2017-11-27 07:59] Jan-Rueter opened #22 "no MIDDLE DOT · but FULL STOP instead"
extensively using MIDDLE DOT but what a pity Barlow puts FULL STOP instead (alt-shift-9)

[2017-11-27 08:15] jpt commented on #22
Hi @Jan-Rueter - Do you have the latest release of Barlow from this website? https://github.com/jpt/barlow/archive/master.zip

Let me know if that solves the problem, and if it does, let me know where you got the font from and hopefully it can be updated there as well.

If that doesn't fix it, can you please post a screenshot? I am not seeing the full stop in place of the middle dot.

[2017-11-27 10:51] Jan-Rueter commented on #22
i´m lazy … using Barlow via https://fonts.google.com/specimen/Barlow

first screenshot with Font "San Francisco" and the second with "Barlow"

<img width="1150" alt="bildschirmfoto 2017-11-27 um 11 45 22" src="https://user-images.githubusercontent.com/3163450/33263152-0ae6fb92-d369-11e7-8040-ca48f819c370.png">
<img width="1150" alt="bildschirmfoto 2017-11-27 um 11 44 32" src="https://user-images.g

[2017-11-27 11:55] jpt commented on #22
Thanks @Jan-Rueter! It looks like the problem is due to the Google Fonts API serving an outdated version of the font, which did not have a middle dot.

There is already a pull request on their repo for an updated version with a fix; I'll comment here again and let you know as soon as it's updated on Google.

[2017-11-29 15:40] jpt opened #23 "Should SmallCaps be a separate file? Open question"
This will add.... 54 more styles, but is this something anyone would want, a Barlow SC, Barlow Condensed SC, Barlow SemiCondensed SC? Does an SC really need to exist can can TT or OTF features be used? I know in CSS it's `font-feature-stettings: 'smcp'`, and the woff built from TTF supports it, which for me is "fine for web." I think `font-variant: small-caps` is for TTF specifically?
So if it exi

[2017-12-05 12:53] #23 closed

[2017-12-14 15:20] vilav opened #24 "Alternative lower case g"
Typography Noob here. But Barlow is perfect. While I reckon the g does lend a personality to the typeface, had to recently switch it out on a project because the client found the g to be an of all amongst all the other letter forms.

Is there a way to tweak the font and add in an extended tail to the g such that it is elongated without looking out of place?

[2017-12-14 22:14] jpt commented on #24
Hi @vilav -- thanks for opening the issue. The /g is modeled a bit after [Highway Gothic](https://en.wikipedia.org/wiki/Highway_Gothic) and I don't plan to change it, but it's possible I could add a stylistic alternate to the glyph set. Right now the main focus of the Barlow project is on adding additional language support, so unfortunately it's not likely to happen soon.

[2017-12-15 07:51] jpt commented on #24
Glyphs is the best way to edit it because it's what the font was created in. The Barlow.glyphs file has a number of Glyphs-specific export parameters to do things like rounding, creating the faux obliques, and to take care of some necessary font metadata; it also makes liberal use of a Glyphs feature called [brace layers](https://glyphsapp.com/tutorials/additional-masters-for-individual-glyphs-the

[2017-12-19 09:44] pietrogregorini opened #25 "Weird "c" letter in Semibold, Bold and Black weights"
Hey there, I just found out this issue zooming on Illustrator. Look at the weird angle in bottom left circle of the letter. I left the medium weight on the right as a reference (it doesn't show up from lighter weights up to Medium).

![schermata 2017-12-19 alle 10 35 10](https://user-images.githubusercontent.com/3169323/34150746-8e4bb166-e4a9-11e7-8531-35e8200c9948.png)

[2017-12-19 10:01] jpt commented on #25
Hi @pietrogregorini - thanks for reporting the issue, I'm having trouble reproducing it. Can you tell me where you got the font from (Google Fonts, Github), what version it is (Get Info) and which font file it is?

[2017-12-19 10:12] jpt commented on #25
This is what I'm seeing on OSX with a TTF file, v 1.208 downloaded from Github, using Barlow Semibold

<img width="831" alt="screen shot 2017-12-19 at 2 06 50 am" src="https://user-images.githubusercontent.com/5319916/34151802-5afe6814-e461-11e7-8f9e-08fcd76962ec.png">

[2017-12-19 10:51] pietrogregorini commented on #25
Hi @jpt  !
Yeah, sure. I downloaded today from Google Fonts, version is 1.101, used on Illustrator 22.0.1 on a macOS 10.13.2. By the way, you have to **zoom in at 600%** to start seeing it.

[2017-12-19 10:56] jpt commented on #25
Thanks @pietrogregorini  -- I suspect this is an issue that was already resolved but isn't yet updated on Google. Can you download the latest version (v1.208) from https://github.com/jpt/barlow/archive/master.zip (inside the fonts directory) and let me know if you still have the problem? If that fixes it, I will alert Google and keep this issue opened until it's updated there.

[2017-12-19 11:04] pietrogregorini commented on #25
You're welcome @jpt !
Yep, the issue is resolved with last version 1.208, both TTFs and OTFs – though OTFs doesn't group fonts such as in TTFs version,so I had all the weights split instead of having them grouped under one name, whatever.

Thank you so much! Just remember to notify Google folks to update to the last version ;)

[2017-12-19 11:05] #25 closed

[2017-12-20 12:04] MattGreyDesign commented on #11
I'm aware it's not a free tool, but the RMX Tuner from the Font Remix Tools for Glyphs would be perfect for doing this https://remix-tools.com/glyphsapp/tutorials I haven't yet used it but I'm very tempted to buying it.

[2017-12-20 23:32] jpt commented on #11
Hey @MattGreyDesign -- I use RMX tools extensively and `RMX Tuner->Slant` isn't much different (or different at all) from the standard Glyphs `Transformations->Slant`. The Glyphs `Transformations->Cursify` filter is a little bit better, but that creates other issues.

Ultimately, this method is probably the best way to fix things after slanting them -- http://66.147.242.192/~operinan/2/2.3.4a/2.3.

[2017-12-21 04:45] jpt commented on #15
@crystaltype I have made some modifications based on your advice and will push them up shortly -- I think this particular pair is looking better now

<img width="313" alt="screen shot 2017-12-20 at 8 42 24 pm" src="https://user-images.githubusercontent.com/5319916/34240910-79e05b00-e5c6-11e7-8346-6a9701737237.png">

And a question RE: Acircumflextilde, I wonder if that's the kind of thing that nee

[2017-12-21 04:59] jpt commented on #15
For a shortened A, this is what I'm referring to as a possibility

<img width="604" alt="screen shot 2017-12-20 at 8 58 05 pm" src="https://user-images.githubusercontent.com/5319916/34241188-9431b97a-e5c8-11e7-84c8-1a2e2b6a2f1f.png">

[2017-12-21 07:04] jpt commented on #15
Although I think it's just a ring character that is ever drawn like that? So maybe not :) I think I will just change winAscent and see how it looks

[2017-12-21 07:46] #24 closed

[2017-12-21 11:20] MattGreyDesign commented on #11
That's surprising, I assumed RMX would be better, but I'm guessing you would recommend it for other things?

Usually Italics are manually made but it's a real pain as you probably well know, I think the best method of attack like you say is to start with an italic master from a generated instance that originally uses the cursify/slant.

[2017-12-21 22:52] jpt commented on #11
@MattGreyDesign I absolutely recommend RMX -- I mostly use the Harmonizer and the Scaler. RMX Harmonizer automatically smooths all your curves in the way you might do manually with the assistance of the [Speedpunk](https://yanone.de/software/speedpunk/) plugin. And RMX Scaler is great for fonts with multiple masters -- it allows you to very easily create things like smallcaps and fractions without

[2017-12-22 01:09] jpt commented on #14
All done -- not in binaries yet because need to figure out what I'm doing with ascender height for #15

[2017-12-22 01:09] #14 closed

[2017-12-25 07:22] jpt opened #27 "add tabular figures"
I've had a couple requests for this, seems like a common enough feature to support

[2017-12-26 11:43] jpt commented on #15
CC @davelab6 @m4rc1e - would GF accept a PR with a different winAscent?

@crystaltype's original, winAscent is 1115

<img width="583" alt="screen shot 2017-12-26 at 3 36 44 am" src="https://user-images.githubusercontent.com/5319916/34355929-0cfea5ec-e9ee-11e7-9745-a0c15224f5b5.png">

Squished to use current winAscent, 981:

<img width="621" alt="screen shot 2017-12-26 at 3 36 12 am" src="https://u

[2017-12-26 11:46] jpt commented on #15
&num; 2 on this one is also an option using 981

![image](https://user-images.githubusercontent.com/5319916/34356058-2f22990c-e9ef-11e7-839b-fdcd97b94e1e.png)

[2017-12-26 15:51] crystaltype commented on #15
I think squishing accents should never be an option to consider. I'll write more about this later. But it won't look good at all >< If we really can't accept a tall winaccent then at the moment the best choice is #2.

[2017-12-27 01:22] jpt commented on #15
Ok, then there will be no squished accents. I didn't like them so I'm glad I can rule them out :)

It's too bad there isn't some clever way to do language-specific metrics in OpenType. If the double-stacked diacritics on /A/E do end up needing to be scaled down, maybe I can also write a build script to generate a set of Vietnamese-specific files with full size and different winAscent in case anyon

[2017-12-27 17:26] davelab6 commented on #15
Any change that is an improvement is fine.

On Dec 26, 2017 8:22 PM, "Jeremy Tribby" <notifications@github.com> wrote:

Ok, then there will be no squished accents. I didn't like them so I'm glad
I can rule them out :)

It's too bad there isn't some clever way to do language-specific metrics in
OpenType. If the double-stacked diacritics on /A/E do end up needing to be
scaled down, maybe I can also

[2018-01-08 22:25] cssobral2013 opened #28 "Add a tail on lowercase L"

[2018-01-09 01:26] jpt commented on #28
no

[2018-01-09 01:26] #28 closed

[2018-01-10 16:35] crystaltype commented on #15
@jpt Yes, I think that's the best course of actions right now.

I'm gonna write up a post in your post at typedrawers but I'm gathering more materials to that post, hopefully will give you more insights to the problem.

[2018-01-10 16:48] jpt commented on #15
@crystaltype I changed the winAscent to 1112 and I think it's fine / didn't impact line spacing too much. Your original, large, legible diacritics look great :)

I was mostly worried about this because in a GF pull request from a while ago Marc mentioned wanting to lock in the metrics. So Vietnamese is basically done, I think -- can't remember if I pushed the latest (I didn't add binaries yet beca

[2018-01-12 20:01] jpt commented on #15
Hi @crystaltype sorry that took longer than expected -- v1.3 is now up (release with binaries from this and #14 generated). https://github.com/jpt/barlow/archive/v1.300.zip
Let me know what you think of the Vietnamese support!

[2018-01-17 19:11] JulietaUla commented on #27
Hello Jeremy
Do you have the tabular lining numbers?

[2018-01-17 19:30] jpt commented on #27
Hi @JulietaUla -- not sure if you got my response previously, but I think I will get to these in the next couple of weeks!

[2018-01-17 19:39] JulietaUla commented on #27
GREAT!!! Thank you :)

[2018-01-17 19:45] jpt commented on #15
@crystaltype Just fixed all winAscent/winDescent errors I was getting from FontBakery, so I'm going to close this issue for now, but please let me know if you notice I've accidentally messed anything up, and I will re-open the issue! Only changes I made to your contributions should be slight. I also made the breve a bit wider and more distinct from caron which helps at small sizes.

[2018-01-17 19:45] #15 closed

[2018-01-20 09:05] jpt opened #29 "Redraw some angles"
Right now I have a lot of brace layers at semicondensed (and everywhere) that I won't need if I just open up the corners of some of the drawings. Should help GX too, which is ready except for #10

Anyway, drawings should be like

this (new)

<img width="318" alt="screen shot 2018-01-20 at 12 59 43 am" src="https://user-images.githubusercontent.com/5319916/35181817-abeffa1e-fd7d-11e7-936b-aadd9aa48

[2018-02-01 12:22] jpt commented on #10
@davelab6 Still wondering what you meant about TT curves above if you don't mind! To clarify, the problem is the "negative"/"interior" rounding in the counters... just not sure if it's possible to do it with VF while maintaining components, like Ø for example. The Glyphs suggestion is not making rounded variable fonts 😅!  Maybe this is the kind of wizardry that exists in FontLab IV?

[2018-02-12 10:15] tomaskavalek opened #30 "Character width – ď – 0x010F"
There is very big space between character „ď“ and other characters. It should be less – glyph width 423 for example, in my case. Final width is on you ;-)

See attachments. Please, repair it for a better glyph width.

![doura](https://user-images.githubusercontent.com/210119/36091968-f966b3da-0fe5-11e8-9fcb-a191f2525270.png)

[2018-02-12 11:15] jpt commented on #30
Hi @tomaskavalek - thanks for opening this issue! I'll work on a fix and let you know when it's in

[2018-03-03 23:16] rroonniinn opened #31 "Space after character "ą" - 0x0105 is too big"
Hi, I am in love with Barlow,
but huge, big space after character "ą" (0x0105) prevents our love to elevate...
If you only could fix it...

all the best
r.

<img width="230" alt="too-big-space-a" src="https://user-images.githubusercontent.com/33466625/36940308-d7be3112-1f40-11e8-8dc9-f92c55eb2a74.png">

[2018-03-04 17:01] jpt commented on #31
Hi @rroonniinn -- thanks for bringing this to my attention! This issue was fixed some time ago, so I believe it's a distributor issue -- where did you obtain the font? Google Fonts, for example, has not updated Barlow for a number of months, unfortunately, but I'll ping them if that is where you got it. Sorry about that!

[2018-03-04 18:54] #29 closed

[2018-03-04 18:54] jpt commented on #30
Hi @tomaskavalek  this should be fixed now! Thanks again for reporting the issue.

[2018-03-04 18:54] #30 closed

[2018-03-04 19:00] tomaskavalek commented on #30
Good job. Thanks.

[2018-03-04 19:13] jpt commented on #27
Hi @JulietaUla -- sorry this took so much longer than expected, but tabular figures are now in!

[2018-03-04 21:19] rroonniinn commented on #31
Yes - Google Fonts is the source!

[2018-03-04 22:02] jpt commented on #31
Ok, great, I'll ping them and will close this issue when it's resolved. Thanks for bringing this issue back to my attention!

[2018-03-04 22:03] jpt commented on #31
(For now, you can download v1.4 from https://tribby.com/fonts/barlow or clone or download the latest from Github and self-host it using CSS @font-face)

[2018-03-07 07:50] danhelekal opened #32 "Wrong caron type in U+0165 (LATIN SMALL LETTER T WITH CARON)"
The ť glyph (U+0165) uses a wrong caron symbol. You already have the correct caron that should be used in the ď glyph (U+010F).

Applies only to lowercase ť, not to uppercase Ť.

[2018-03-07 07:58] jpt commented on #32
Hi @danhelekal  -- thanks for opening the issue! I am going to work this into an already-upcoming incremental release (1.401). I'll tag you when it's done -- thanks again for bringing this to my attention!

[2018-03-13 19:36] abersager commented on #27
@jpt Thanks so much for adding the tabular figures.

I haven't been able to get this to work, unfortunately. I can see the corresponding glyphs in Glyphs.app, but I can't access them in the browser through `font-feature-settings: 'tnum'` or `font-variant-numeric: tabular-nums`.

It's not a problem with the browser; when using Gotham, which supports both proportional and tabular figures, the number

[2018-03-13 21:35] jpt commented on #27
@abersager Thanks for letting me know, I am reopening this issue until I push a fix. I believe the OpenType features were simply not compiled into the font binaries despite the glyphs existing, so it shouldn't be hard, I just need to find the time -- next couple of days, I'm sure!

[2018-03-13 21:48] davelab6 commented on #27
Well, this codepen uses the fonts via Google Fonts API, which strips out non-essential opentype features, so it will not work even when @jpt has updated the binaries and submitted a pull request to github.com/google/fonts and that is merged and pushed

[2018-03-14 08:48] abersager commented on #27
@jpt Thanks very much!

@davelab6 You're right, not a good example. I haven't managed to get it to work with locally installed fonts, either.

[2018-03-23 17:41] JulietaUla commented on #27
Thank you!!!!!!!!!!!!!
They are great!

Besos
Julieta

2018-03-04 16:13 GMT-03:00 Jeremy Tribby <notifications@github.com>:

--
:)

+54 911 5668 5843
Julieta Ulanovsky
Buenos Aires

[2018-03-23 20:35] jpt commented on #27
Thank you @JulietaUla for testing out the tabular figures! I’ll push out a new version of Barlow for everyone on Monday or so (fixes an issue with tcaron as well)

[2018-04-07 13:16] #32 closed

[2018-04-09 13:49] jackmez opened #33 "Barlow lower case 'c' issue"
There seems to be an issue with the lower case 'c' on certain weights when used with the Adobe Suite.

See the screenshots below for the 'c' used in Illustrator and Sketch with Barlow Semibold.
The 'c' in Illustrator appears to have an extra point along the bottom curve.

Adobe Illustrator cc 22.0.1
<img width="1194" alt="screenshot 2018-04-09 14 40 13" src="https://user-images.githubusercontent.c

[2018-04-10 00:46] jpt commented on #33
Hi @jackmez -- thanks for reporting the issue. Is this the OTF or TTF file, and where did you obtain it (Github, Google Fonts, etc)?

[2018-04-11 08:34] jackmez commented on #33
It was obtained from Google Fonts.
Thanks

[2018-04-14 07:48] jpt commented on #33
Hi @jackmez -- interesting, I wonder if this is an issue with the Google Fonts API. Can you download the font from https://github.com/jpt/barlow/archive/master.zip or https://tribby.com/fonts/barlow/download/barlow-1.403.zip and let me know if the issue persists?

[2018-05-16 02:00] #33 closed

[2018-05-16 02:01] jpt commented on #33
Hi @jackmez -- closing this issue due to non-response, but please let me know if you still have problems with v1.4!

[2018-06-27 20:17] MichalRemis opened #34 "Wrong caron on ľ (U+013E) and Ľ (U+013D)"
The ľ glyph (U+013E) and also upper case Ľ (U+013D) uses a wrong caron symbol. You already have the correct caron that should be used in the ď glyph (U+010F).

Also thank you for good work and great font.

[2018-06-30 04:55] jpt commented on #34
Hi @MichalRemis - thanks for opening the issue, I will work on a fix and let you know when it's available.

[2018-07-03 19:00] williamflaherty commented on #34
@jpt Similarly, the ť glyph (U+0165) displays the incorrect caron. Thanks!

[2018-07-03 19:23] MichalRemis commented on #34
@williamflaherty I think ť is already fixed if you download Barlow font from github. Problem is only with Google Fonts - they need to update.

[2018-07-03 19:31] williamflaherty commented on #34
@MichalRemis ah I was using the Google font, and that's why I missed it, that was helpful, thanks!

[2018-07-15 02:40] joo opened #35 "Please add mono space style"
if add mono space style, that's perfect!

[2018-07-15 04:02] jpt commented on #35
Hi @joo  -- I would like to!  I'll keep this open in case anyone wants to contribute as it may take me some time to get it.

[2018-08-23 09:39] infinito-pl opened #36 "Problem with kerning for "ą""
Hello. I like your work very much. I noticed one issue with kerning after "a ogonek" (U+0105) while in the middle of the word. You can find this issue both in source font and webfont.
![aogonek](https://user-images.githubusercontent.com/39489114/44517839-fe01c900-a6c8-11e8-9734-58219589cb32.png)

[2018-08-24 00:46] jpt commented on #36
Hi @infinito-pl -- thanks for bringing this to my attention! I'll be setting aside some time to take care of this and #34 very soon, I will ping you here once the fix is complete.

[2018-09-07 13:55] stefano-b opened #37 "Problem with kerning for "LT""
Hi, first of all congratulations for this super font.

I noticed that there is a problem with kerning with uppercase "LT" letter combination, there seems to be too much white space between these two letters.

You can try in example with words like "ALTAIR", "VOLTAGE", and so on, this minor issue is leaving a blank space in the middle of the word that is slightly distracting. It is more prominent w

[2018-09-07 21:31] jpt commented on #37
Hi @Sekhemty - thanks for pointing this out, I'm planning a minor version bump for a couple of other kerning issues and will be sure to include a fix for this one as well. I'll let you know when the fix is in.

[2018-09-19 20:59] rhondacrim commented on #33
Hi. I had the same issue with the semi-bold - black "c" downloaded from Google Fonts. The fonts downloaded from the links above do not contain that error, but still have a small glitch in the "c". Please see screenshots. Thank you!

![image](https://user-images.githubusercontent.com/14790523/45781193-55924680-bc2d-11e8-99bf-d4e68253d584.png)

[2018-09-19 21:01] rhondacrim commented on #33
![image](https://user-images.githubusercontent.com/14790523/45781302-938f6a80-bc2d-11e8-8203-21e8de68b8bf.png)

[2018-11-01 04:36] fitojb commented on #22
cc @davelab6 /@googlefonts timely updates are crucial to users

[2018-11-07 02:06] jpt commented on #36
Hi @infinito-pl -- this is an issue with Google Fonts. They will update it soon, in the mean time you can download the latest version here on Github or at tribby.com. When it's resolved on Google Fonts I'll close the issue here.

[2018-11-07 03:55] #34 closed

[2018-11-07 03:58] jpt commented on #37
Hi @stefano-b -- this is now fixed on Github for download, and will propagate to Tribby.com and Google Fonts soon. Thanks again for pointing out the issue.

[2018-11-07 03:58] #37 closed

[2018-11-20 15:31] alexmyczko opened #38 "building non-interactive"
how to build the font without interaction?

[2018-12-06 19:02] ltGuillaume opened #39 "Smaller "1" tabular figure looks funny"
I'm trying to use Barlow in https://github.com/ltGuillaume/MusicFolderPlayer, thus I'm really happy that the tabular figures were added (https://github.com/jpt/barlow/issues/27). For smaller font sizes, the "1" does seem to be off, though (tested the .woff in Firefox and Chromium). The angle seems strange, don't you agree?
![1](https://user-images.githubusercontent.com/4777345/49605787-c70ea500-f9

[2018-12-07 05:44] jpt commented on #38
@alexmyczko can you be more specific about the kind of interaction you're talking about? if you mean building it from a shell terminal (i.e. outside a GUI), I don't believe it's currently possible. Right now Glyphsapp (or maybe also FontLab VI, which I believe can open Glyphs files) is the only way to build Barlow. It's possible in the future I could clean up the font sources so it would work with

[2018-12-07 05:51] jpt commented on #39
@ltGuillaume The angle might be a little off. Although to be honest it's also possible the numerals need to be re-drawn entirely. I'll keep this issue open for now, but may close it in the future in favor of an issue that addresses all of the numerals. I'll take a look at the one up close as time allows. Thanks for bringing this to my attention!

[2018-12-07 09:40] ltGuillaume commented on #39
Cool! Thanks for the quick reply!

[2018-12-07 11:33] alexmyczko commented on #38
Yes I meant building it with a command, without GUI. To create packages of the font for Debian/Ubuntu...

UFO format, and/or sfd/.sfdir are both fine for me. That'd be great.

[2018-12-07 19:43] ltGuillaume commented on #39
By the way, I think most numerals are just fine. It's just that the "1" looks odd.

Apart from that, I can only see that the "[" is too far from the next character, and the "]" too far from the previous (it looks like there's an entire "space" character between).

[2018-12-09 21:01] jpt commented on #38
@alexmyczko Thanks for clarifying. I think it's unfortunate that an open source font like Barlow needs to rely on proprietary tools for the build step, and I'll keep this issue open, although to be honest it might be a long time before I can work on this.

IIRC, there are a couple of other fonts out there with programmatically generated intermediate masters to solve for the "brace layer" issue I'm

[2018-12-09 21:18] davelab6 commented on #38
Debian and gtk and gnome support Variable Fonts.

fontmake is on track to support compiling your glyphs file with brace and
bracket layers by April. Just be patient and do nothing :)

Barlow as a VF is on my wish list for next year.

[2018-12-11 01:11] jpt commented on #39
Hi @ltGuillaume

You don't need to change the font's name, and you don't need my blessing :) The OFL is a bit confusing on the point of Reserved Font Names; if there's no reserved name specified (as is the case with Barlow), there is no requirement around the name. (IIRC, it's common practice for Reserved Font Names to be mentioned at the top of a font's associated OFL.txt file.) So you should be

[2018-12-11 02:14] jpt commented on #38
perfect, I'm great at doing nothing :D

does/will fontmake support `GlyphsFilterRoundCorner` for interior/exterior rounding as well? if not, it's easy enough to just apply the outer rounding manually before-hand, but it's that interior rounding where things get messy (for builds and ultimately for VF)

[2018-12-11 16:49] ltGuillaume commented on #39
Well, I just changed the .woff files directly, so that won't really qualify for a pull request.

[2018-12-11 17:03] ltGuillaume commented on #39
![barlow-mods](https://user-images.githubusercontent.com/4777345/49816868-1c223080-fd6f-11e8-967b-8e7fd635b236.gif)

[2019-01-17 13:52] espectalll opened #40 "0 and O look too alike"
The 0 number and capitalized O characters have too subtle differences and heavily rely on context to be distinguishable and properly interpreted. If I have to propose a solution, it would be to make the capitalized O slightly wider and/or rounded.

![image](https://user-images.githubusercontent.com/2456419/51322725-20bcc180-1a5e-11e9-897e-6c5170bf3ebc.png) ![image](https://user-images.githubuserco

[2019-01-17 14:53] espectalll commented on #40
Another suggestion: add a dot in the middle of the zero character.

[2019-01-18 06:34] jpt commented on #40
@espectalll Thanks for opening the issue -- I have thought about this problem as well. I don't want to add a middle dot (maybe as a stylistic alternate?) because there are probably a lot of users who wouldn't want it. The slightly-rounded letters are a solution I have considered. I'll keep the issue open, I'm not sure exactly when I'll have time for it but the plan is for a lot of work to go into

[2019-02-12 13:28] Maggern opened #41 "Ø in bold has low readability"
The ø/Ø-character does not have a full line through it in the bolder versions. This creates low readability, as it is hard to see that it is a Ø and not a O. It's not a "Ø" unless there is a whole line through the "O"!

**Suggested solution:** Sacrificy some of the boldness of the line in order to have a full line.

[2019-02-12 14:04] Maggern opened #42 "Pablo Impallari's font testing site is down"
The link in README.md goes to a suspended account.

[2019-02-12 14:12] Maggern commented on #21
Question: Did commit a2b7581 change the Ø in the bolder versions so that there is no line through the character?

[2019-02-12 14:25] Maggern commented on #41
I suggest undoing issue #21

[2019-02-20 04:34] jpt commented on #42
Thanks; I'll close the issue after changing the link to this archived version -- https://web.archive.org/web/20180628181324/http://www.cyreal.org/Font-Testing-Page/index.php

[2019-02-20 04:37] jpt commented on #41
Thanks @Maggern ! I agree; I should change this and add the current ø as an alternate glyph. Will close issue when I've made the change. Barlow should get this along with some other improvements soon, hard to give an exact estimate on time, but there is an active effort right now, and this is in the queue :)

[2019-02-20 04:43] #42 closed

[2019-02-21 03:52] james-bay commented on #16
Wonderful font! I would really like to have Cyrillic in Barlow, but it’s very difficult to make quality Cyrillic. There are very few fonts with quality Cyrillic, but I hope that Cyrillic will still appear in Barlow.

[2019-02-21 04:55] jpt commented on #16
Hi @james-bay -- thank you for the comment. Cyrillic is the next language I would expect to see in Barlow, and personally consider its absence to be one of Barlow's largest deficiencies. I still can't give a good indication of when it will happen, because I only have so many hours I can volunteer to the project. But as soon as I'm able to make progress, I will -- I've gotten as far as studying (wi

[2019-03-09 17:33] maasj opened #44 "Superscript zero U2070 is missing"
It seems like the glyph for unicode Superscript Zero, U2070, is missing.  At least on the Semi Condensed fonts.  All the other unicode superscript numbers are present.  Was the zero skipped on purpose or was that an oversight?

The missing superscript zero is causing me some headaches so unless there's a good reason not to add it I'd love to see it get added.

Thanks for your hard work!

[2019-03-10 21:39] jpt commented on #44
Hi @maasj -- thanks for opening the issue, this is definitely a bug and not intentional. Can you let me know which version of the font you're using and where you obtained it from? I'll take a look.

[2019-03-11 14:20] maasj commented on #44
You're welcome.  Thanks for the quick confirmation that it's a real bug.

I'm seeing the problem using the OTF files from your GitHub project, such as:

https://github.com/jpt/barlow/blob/master/fonts/otf/BarlowSemiCondensed-Regular.otf
https://github.com/jpt/barlow/blob/master/fonts/otf/Barlow-Regular.otf

Is that what you're looking for?

[2019-03-13 10:23] fbim-genosr opened #45 "markup U00B7 in MS Word on Windows PCs"
Hi all,

on Windows PCs we recognized a strange behaviour with barlow. When you turn on MS-Words "show markup" function, in Barlow a space shows a "." glyph instead of a floating point. This makes it really hard to differ spaces from full stops.

I think it is U00B7.

cheers
Sebastian

[2019-03-18 16:04] jorditarrida opened #46 "Interpunct (middot) not positioning properly"
Hi!
First of all, thanks for your work on this awesome font.
I am loading Barlow Regular from Google Fonts on a website. When using the interpunct (middot) character, which is a needed character in Catalan language, it is positioned incorrectly. This is how the word "col·laboradors" is rendered, notice the middot on top of the first l:
![Captura de Pantalla 2019-03-18 a les 16 53 37](https://user-

[2019-03-21 19:36] maasj commented on #44
I know you're a volunteer and I'm so grateful that you've made this font and shared it with the world.  So I don't mean to pester, but do you have any guess as to when you might be able to fix this bug?

[2019-03-22 05:55] jpt commented on #46
Hi @jorditarrida, thank you for opening the issues, I know there have been problems with the middot before -- I'll take a look.

[2019-03-22 05:59] jpt commented on #44
Hi @maasj - thanks for the help on this issue! Somewhere around a month, likely sooner. There have been a few issue raised recently and if I'm going to do a new release I'd like to get a few of them fixed at the same time. I appreciate your patience, thank you again for bringing the issue to my attention.

[2019-03-22 14:12] maasj commented on #44
Awesome, thank you!

[2019-03-25 13:35] akzeitlos opened #47 "German Umlauts – ä,ü,ö"
Hello,

a very nice font!!!! We like it very much. We have the problem, if the font is printed on an HP-Printer, the umlauts are not printed regular. Is this a know problem? What can we do? With other printers it is not problem!??

Best regards
Andreas

[2019-03-25 13:47] akzeitlos commented on #47
In the printed versions the dots are not on the real position. They are 2cm more left.
![Screenshot 2019-03-25 at 14 46 47](https://user-images.githubusercontent.com/8309539/54924503-d566d980-4f0c-11e9-8080-aee9e04ddc4c.png)

[2019-03-25 16:05] jpt commented on #47
Hi @akzeitlos -- thanks for bringing this to my attention, I'll take a look and get back to you

[2019-03-25 16:06] jpt commented on #47
In the mean time, can you let me know where you obtained the font?

[2019-03-26 07:47] akzeitlos commented on #47
Hi, i downloaded it from google and from your website. But it is the same with both.

[2019-04-04 22:52] macalinao opened #48 "Parentheses next to each other are difficult to read"
![Screenshot_2019-04-04_15-51-43](https://user-images.githubusercontent.com/401263/55593680-9c3f1e00-56f1-11e9-9a14-ff7af2381979.png)

Example attached. Is there a way we can add spacing between ")("s?

[2019-04-05 01:26] jpt commented on #48
@macalinao thanks for opening the issue. I agree. In fact, the entire font is currently being re-spaced and re-kerned. I would guess I'll be able to roll out a fix around end-of-month. This issue is a priority, and I'll update you when the fix is in.

[2019-04-05 01:29] jpt commented on #45
Hi @fbim-genosr Sorry for the late reply, I missed this one. I'm looking into the issue. There are a couple of other Windows compatibility issues that I am aware of, and I'll likely roll out of fix with all of them at the same time. Thanks for opening the issue.

[2019-04-06 02:47] macalinao commented on #48
Thank you!

[2019-04-09 14:24] pluehne opened #49 "Italic OTF font files missing in download archive on tribby.com/fonts/barlow/"
I noticed that when downloading the font at tribby.com/fonts/barlow/, the archive https://tribby.com/fonts/barlow/download/barlow-1.408.zip doesn’t contain many italic font files in the OTF version under `fonts/otf/`. As far as I can tell, the italic variants aren’t new, and it looks they should have been included in that file.

In case that’s right, it would be nice if the archive file could be u

[2019-04-15 14:01] neagle opened #50 "Legibility problem in heavy weights of lowercase "i"s and other details"
We use Barlow for our admin interface at my company, and we've been having problems with the legibility of the lowercase i at 14px, semi-bold weight -- it's blurry enough to look like a lowercase l (L). (Note: this is not a problem on retina displays, or other high-pixel-density screens.)

In investigating this problem, I was surprised to find that [Google font's specimen page for Barlow](https://

[2019-04-16 02:13] jpt commented on #49
Thanks @pluehne for opening the issue -- I will close the issue once it's been resolved.

[2019-04-16 02:17] jpt commented on #50
Hi @neagle -- thanks for opening the issue. I wonder if hinting got missed in the most recent commit fixing a metadata issue with Ø, and maybe the Google specimen is actually running an earlier version? Not sure --  I will take a look and get back to you as soon as I've discovered the underlying issue.  cc @davelab6 in case you can shed some light on the GF "looks fine in specimen but not provided

[2019-04-16 02:37] jpt commented on #47
Hi @akzeitlos -- sorry for the delay on this. I have been unable to reproduce on a pritner. Can you provide the model # of the printer? Have you tried using both OTF and TTF font formats?

[2019-04-16 04:11] akzeitlos commented on #47
OTF is working!!!

Von meinem iPhone gesendet

[2019-04-16 06:34] jpt commented on #47
Great -- I would guess this is because the OTF has PostScript hints, which might be what your printer is looking for. Printers can be so tricky. Thanks for opening the issue -- now I'll know what to tell people in the future :)

[2019-04-16 06:34] #47 closed

[2019-04-16 14:36] neagle commented on #50
That could certainly explain it. Thanks for looking into the problem, @jpt!

[2019-04-17 17:00] thatcort commented on #35
I would find this really useful too. Especially to have tabular numbers. Please and thank you :)

[2019-04-17 17:02] strictlymomo opened #51 "Barlow use cases"
Could you list some examples of Barlow out in the wild? Love how it's being used here: https://tribby.com/fonts/barlow/#specimen

[2019-04-25 04:20] jpt commented on #51
The headlines on https://www.cnn.com/business are Barlow SemiCondensed, although they've renamed the font to CNN Business (maybe they've made other changes too?). The SKY television network uses it in sports casts as well. There's a coffee shop in Germany using Barlow, though I've forgotten the name... you're right -- it may make sense to compile some of these.

To be honest, because I do not run

[2019-04-25 04:21] jpt commented on #51
@strictlymomo because this is not an issue with the font itself, I will close it, although I welcome further discussion in this thread.

[2019-04-25 04:21] #51 closed

[2019-04-25 12:00] jorditarrida commented on #46
Hi! Just a quick update, we found out that some browsers are rendering the middot correctly. In the following screenshot, left is Chrome (incorrect) and right is Safari (correct):

![Captura de Pantalla 2019-04-25 a les 13 57 34](https://user-images.githubusercontent.com/4738498/56734097-3f6bdc00-6762-11e9-99d2-12e4fb6b023b.png)

I've seen on other issues that you are working on a new version of t

[2019-05-06 09:07] jdivins commented on #46
Same problem here!
Subscribed to the issue to check resolution.
Thank you @jpt

[2019-05-13 10:40] mancas11 commented on #41
Any news on this matter?

[2019-05-13 11:55] sofdesigne opened #52 "problem displaying these letters "ffi" together"
Hi, i am using the font on my website via google fonts, and i noticed that there is a problem displaying these letters "ffi" together, letters are hidden, words like efficient, affirmative will show with spaces in the middle, i tried firefox but ! same issue, any ideas please ?!
![ScreenShot080](https://user-images.githubusercontent.com/50580979/57619621-3a8a9300-757e-11e9-907d-e9ff7b0d74e4.jpg)

[2019-06-18 16:55] thatcort commented on #46
On my site, the middot is rendering on the baseline as a period:

<img width="101" alt="image" src="https://user-images.githubusercontent.com/12662578/59703667-637af500-91c8-11e9-8c12-773b4881e0f7.png">

[2019-07-03 04:30] jpt commented on #44
Hi @maasj, this is fixed i [version 1.422, which you can download here](https://github.com/jpt/barlow/archive/master.zip) (you'll find the files in the `fonts` folder). If there is still a problem (or if I've introduced any new ones 🙂) let me know and I'll re-open the issue.  Thanks again for the help!

[2019-07-03 04:30] #44 closed

[2019-07-03 04:33] jpt commented on #46
Hi @thatcort, @jorditarrida,  @jdivins -- can you check the latest [version 1.422, which you can download here](https://github.com/jpt/barlow/archive/master.zip) (you'll find the files in the `fonts` folder). Seems OK to me know! I'll close the issue and and alert distributers (e.g. Google Fonts) if this fixes it.

[2019-07-03 04:35] jpt commented on #48
Hi @macalinao sorry for the delay on this one -- can you check the latest [version 1.422, which you can download here](https://github.com/jpt/barlow/archive/master.zip) (you'll find the files in the `fonts` folder). Spacing and kerning should be much-improved overall. I'm going to go ahead and close the issue, but if there's still a problem, let me know and I'll open it back up.

[2019-07-03 04:35] #48 closed

[2019-07-03 04:42] jpt commented on #52
Hi @sofdesigne can you let me know if this is fixed in the latest [version 1.422, which you can download here](https://github.com/jpt/barlow/archive/master.zip) (you'll find the files in the `fonts` folder). I'm going to go ahead and close the issue, but LMK if there's still a problem and I'll reopen it.

cc @davelab6 @m4rc1e RE: GF specimen. Ligatures probably need a little work (there's a Barlow

[2019-07-03 04:42] #52 closed

[2019-07-03 04:43] jpt commented on #41
Hi @mancas11 @Maggern -- this is fixed in [version 1.422, which you can download here](https://github.com/jpt/barlow/archive/master.zip) (you'll find the files in the `fonts` folder). Will update with distributors soon. Thanks again for bringing this to my attention. And if there's still a legibility issue, feel free to ping me and I'll re-open.

[2019-07-03 04:43] #41 closed

[2019-07-03 08:23] sofdesigne commented on #52
Thanks for your response, but i was talking about google fonts, the issue is not when i use the font with illustrator or whatever program, the issue is web based, check the google fonts website and you will understand

[2019-07-03 10:29] Maggern commented on #41
Great! Thank you so much for the fix and for this beautiful font!

[2019-07-04 18:34] maasj commented on #44
I just tested it out and I can confirm that there's now a character for the unicode Superscript Zero.  Hooray!  However, it looks to me like the superscript zero isn't vertically aligned with the other unicode superscript numbers 1-9.  The new superscript zero is being placed a little lower than the other superscript numbers.  I'll attach a screenshot of what I'm seeing in Apple Pages 8.1 on macOS

[2019-07-10 01:52] jpt commented on #44
hi @maasj -- just pushed out a new fix -- can toy let me know if it's working as intended? Thanks!

[2019-07-10 16:51] maasj commented on #44
Nailed it!  Thank you!!!

[2019-07-15 20:11] thatcort commented on #46
I just pulled and indeed the interpunct character is now at the correct height. Thank you!

[2019-07-16 02:15] jpt commented on #46
Thanks for confirming @thatcort ! I'll close this issue now that it's fixed here. To everyone using Barlow from Google Fonts, putting the wheels into motion / about to open a PR with them now -- thank you for your patience

[2019-07-16 02:15] #46 closed

[2019-07-21 06:47] dimobelov commented on #16
Any Cyrillic news?

[2019-07-22 18:16] thatcort opened #53 "Rendering issue on Ubuntu & Windows with Self-Hosted Fonts"
I tried self-hosting font files and ran into rendering issues on Windows and Ubuntu that I don't see when using Google Fonts. It looks fine on Mac in both cases.

On Ubuntu and Windows the baseline of the characters is inconsistent, leading to lines with some characters higher than others. Note that this is using the files from a git pull of tag 1.422.

An image showing the problem and the css use

[2019-07-22 18:31] jpt commented on #53
Hi @thatcort -- thanks for reporting the issue. I can only guess that there's an issue with the hinting in this release; I'll take a look at it and get back to you.

[2019-07-23 23:30] jpt commented on #53
Hi again @thatcort -- can you test these new WOFF2 files and let me know how they work? Thanks!
[woff2-new.zip](https://github.com/jpt/barlow/files/3424428/woff2-new.zip)

[2019-07-24 18:05] thatcort commented on #53
This seems much better - thanks!

[2019-07-29 05:18] #53 closed

[2019-07-29 05:20] jpt commented on #50
Hi @neagle -- sorry to follow up so late, but this [is fixed in the latest version](https://github.com/jpt/barlow/archive/master.zip). I'm closing the issue, but feel free to re-open if you have different results!

[2019-07-29 05:20] #50 closed

[2019-07-29 19:48] neagle commented on #50
Excellent: no problem on the time, we were able to grab an old version to use in the interim. It'll be great to update with the official version. Thanks a lot!

[2019-08-02 07:22] agusmba commented on #45
FWIW, with Barlow 1.4.0.8 I don't see this issue on my Windows7 (Word 2013 or 2016):

![image](https://user-images.githubusercontent.com/3104020/62351826-efda4080-b506-11e9-873d-9c0baebc1cc7.png)

[2019-08-02 08:30] agusmba opened #54 "Windows (Office), too much weight difference between Bold and Regular"
First of all thank you for this wonderful font and all its many weights and variants.

I've been using it recently in some Office documents, but due to how windows selects fonts when using "Bold" text in Powerpoint or Word, the results are a bit too heavy. I know that it is also a question of personal aesthetics but please see the example below:

![image](https://user-images.githubusercontent.com/

[2019-08-02 11:03] jpt commented on #54
Hi @agusmba -- thank you for the detailed issue and thoughtful suggestions.

First, can you make sure you're using the latest Barlow version (v1.422)? I believe that prior to this release, Barlow was missing the Windows-specific `WWSFamilyName` and `WWSSubfamilyName` metadata, which could be causing the issue.

If that doesn't fix it, there are a couple of other possibilities: Glyphs.app has a "St

[2019-08-02 12:05] agusmba commented on #54
Hi @jpt -- thank you for your quick answer!
I tried with the latest release, and apart from some confusion with Windows' Font view (light, extralight and thin are shown there with the same name :man_shrugging: ) the behavior in Word is the same as I reported.

I understand this is a complex issue and I'm just glad you agree with my report and will keep this on your radar. Thank you!

[2019-08-02 12:16] agusmba commented on #54
Just to clarify I'm using the TTF fonts (it seems Barlow's OTF variants are not bold-interpolated correctly by Word)

[2019-08-09 23:39] den32ds commented on #16
@jpt hi there, thanks for beautiful font. ahah, don`t use Google Translate, I think, you can see various open source fonts, such as EB Garamond, Anka/Coder etc. and repeat Cyrillic in Barlow. And I can try to search books about Cyrillic on English, if you want.

[2019-08-09 23:42] den32ds commented on #16
https://www.typejournal.ru/en/articles/Kis-Cyrillic-Typeface

[2019-08-09 23:43] den32ds commented on #16
Here is, Russian typographer speaks about making Cyrillic support

[2019-08-09 23:49] den32ds commented on #16
https://www.amazon.com/Bi-Scriptual-Typography-Graphic-Multiple-Systems/dp/3721209826
https://www.amazon.com/Foreign-Language-Alphabets-Lettering-Calligraphy-Typography/dp/0486297047
Read these books

[2019-08-26 22:18] den32ds commented on #16
@jpt You are welcome, feel free to ask about Cyrillic

[2019-09-04 15:07] davidfurlong opened #55 "Windows rendering issue: bold 'e' characters"
It appears that the bold version 'e' characters are being rendered incorrectly only on windows. Self hosted woff2. Tried updating to newest version and that didn't resolve it
![image (4)](https://user-images.githubusercontent.com/614768/64267292-71722380-cf36-11e9-8e61-7d42708372e9.png)
![image (3)](https://user-images.githubusercontent.com/614768/64267294-71722380-cf36-11e9-9681-21f7458ca122.png)

[2019-09-04 20:25] jpt commented on #55
Hi @davidfurlong - thanks for opening the issue, I'll look into it. In which browser and version of Windows is this happening?

[2019-09-05 08:05] davidfurlong commented on #55
Chrome & windows 10

[2019-09-06 06:43] jpt commented on #55
Hi @davidfurlong  -- thanks for the additional information, I'm looking into it. I wonder if this fix works as a temporary solution? https://coderwall.com/p/9tecwq/fix-poor-font-rendering-in-chrome-on-windows

[2019-09-06 07:23] davidfurlong commented on #55
Thanks for looking into it

[2019-09-06 21:36] jpt commented on #55
Hi @davidfurlong -- it looks like there was an error with the "virtual masters" for the letter "e" in the source file that I think caused some bad autohinting-related metadata. I've fixed the source and generated new WOFF2 binaries -- can you let me know if the attached files fix your problem? [Click to download -- woff2.zip](https://github.com/jpt/barlow/files/3585787/woff2.zip)

If this works I'

[2019-09-08 08:25] davidfurlong commented on #55
hey @jpt I appreciate you looking into this and finding a possible resolution. I'll be honest, we decided to switch out barlow for another font due to this issue and I don't have access directly to a windows environment -- therefore its prohibitively time consuming for me to now try to see if the above font download fixed the issue. I hope you can find another reproduction environment and I'm sorr

[2019-09-09 14:58] tue0506 opened #56 "Missing UNICODE characters"
Can you add UNICODE support for Barlow font? I'm using your font on an Android device (as default system font) and some UNICODE characters are missed. Please look into it :) Thank you so much for this great font!

[2019-09-09 15:39] fitojb commented on #56
The font is Unicode-compliant already. Unicode is an encoding standard, and “adding Unicode support” does _not_ entail adding every single character in it.

When filing issues, _puhlease [be specific](https://www.chiark.greenend.org.uk/~sgtatham/bugs.html)_; be a good open-source citizen. Nobody can read minds here; I for one can’t tell which are the characters that you are missing. (Also, bear in

[2019-09-09 22:37] jpt commented on #56
Hi @tue0506 -- can you take a screenshot of the problem you're having? It may be related to the PUA characters @fitojb is referring to, but I'd like to be sure. Thanks!

[2019-09-09 22:38] jpt commented on #55
@davidfurlong -- no worries at all, I appreciate bug report! I'll spin up a VM to give it a proper evaluation.

[2019-09-10 04:40] tue0506 commented on #56
The first pic is Roboto font. The second one is Barlow.
![Screenshot_2019-09-10-11-36-08-454_com darkorbitstudio fontviewer](https://user-images.githubusercontent.com/31882623/64584607-a4496b00-d3bf-11e9-8558-6d3902725be9.jpg)
![Screenshot_2019-09-10-11-36-33-416_com darkorbitstudio fontviewer](https://user-images.githubusercontent.com/31882623/64584616-b0cdc380-d3bf-11e9-9b8e-968314b71f24.jpg)
![

[2019-09-10 05:22] jpt commented on #56
Thanks @tue0506 -- it looks like [Unicode Small Caps](https://en.wikipedia.org/wiki/Small_caps#Unicode) are the feature you want? I can add this to the list of things to implement in Barlow, but I can't say when I'll have a chance to get to it. Thanks for the suggestion.

[2019-09-10 05:25] jpt commented on #56
To be honest, I can't tell exactly which characters those are; some look like homoglyphs/[faux cyrillic](https://en.wikipedia.org/wiki/Faux_Cyrillic)? Could you paste the text here? (The text that you took the screen shot of)

[2019-09-10 13:11] tue0506 commented on #56
I can't paste all characters here because I don't know how to find those special characters. But I have an idea: some Android devs/designers use Roboto font as a base, and implement Roboto's special characters to the font which is missing those characters (because Roboto has all characters).
Hope it will help you :)

[2019-09-30 18:55] briandipert commented on #55
I'm having similar issues but it is also effecting the capital "E". This is occurring in IE11, Firefox and Chrome on Windows. I tried your new WOFF2 binaries and the issue is still occurring.

![image](https://user-images.githubusercontent.com/55999485/65907114-b8b2cf00-e391-11e9-938d-440c2c72b545.png)

[2019-10-01 06:50] jpt commented on #55
Thanks @briandipert -- can you give these a try? Also, can you let me know if WOFF (not WOFF2) files have the same problem?

[Barlow-New-WOFF2.zip](https://github.com/jpt/barlow/files/3674790/Barlow-New-WOFF2.zip)

[2019-10-03 17:31] briandipert commented on #55
These WOFF2 files fixed the issues for me!

On the WOFF files, the Barlow Regular font does not appear to have the issue but the Barlow Condensed Regular font does it (see image below)
![image](https://user-images.githubusercontent.com/55999485/66149856-f6a63200-e5e1-11e9-9342-1541f7981550.png)

[2019-10-03 23:24] jpt commented on #55
@briandipert thanks so much for the report, you've helped me identify the problem: the latest version of Barlow's WOFF and WOFF2 files are using OpenType outlines instead of TrueType outlines, so ttfAutoHint is not being applied / Windows compatibility has suffered. I'll get a new version up shortly. Thanks again for the help!

[2019-10-15 08:46] Sopamo commented on #55
We have the same issue with the WOFF and WOFF2 files and can replicate it on OSX and Linux (in Chrome):

![image](https://user-images.githubusercontent.com/1202596/66815570-cabb7280-ef38-11e9-91fa-61ff2f28c170.png)

For us this also only happens with the bold style.

[2019-10-23 20:51] pluehne commented on #49
@jpt: Looks like the newer release package for version 1.422 contains the italic versions this time. Thanks for taking care of this :+1:! I’ll close this one now.

[2019-10-23 20:51] #49 closed

[2019-10-28 08:56] naeon commented on #55
@jpt Could you give an estimate on when this issue might be fixed? Thank you!

[2019-11-23 13:19] alturnwall commented on #35
Hi @jpt , I'm also interested in tabular numbers, and would be interested in helping make it happen. Would it be useful to have help on tabular numbers without being able to commit to a full mono style?

[2019-11-23 20:53] thatcort commented on #35
@alturnwall I discovered that tabular numbers are available as long as you download and host the font files yourself. They don't seem to be available in the Google Fonts hosted files.

[2019-11-25 17:27] alturnwall commented on #35
@thatcort wow, thanks for the heads up, I had no idea this version was different than the Google fonts version. Thanks!

[2019-12-02 22:14] briandipert commented on #55
@jpt do you have a TTF file of the latest version of Barlow?

[2020-01-03 12:03] Azgaar commented on #52
Hi @jpt,

Could you please upload a new version to Google Fonts? I can see some web-pages affected.

[2020-01-03 15:15] fitojb commented on #52
@Azgaar It’s not up to him; he doesn’t work at Google.

[2020-01-07 15:25] agusmba opened #57 "Line spacing is too big (seen in One Note)"
When using the Barlow font in One Note (2016), the line spacing is abnormally big:

![image](https://user-images.githubusercontent.com/3104020/71906196-e87c2a80-3169-11ea-8e60-eab8b19e7371.png)

This does not happen in other Office programs such as Word or PowerPoint, so I'm not really sure if it's a problem with the Barlow font or with One Note not understanding some standard spacing property of

[2020-01-11 05:34] sophiebits-humu opened #58 "Kerning of "%)" is too spacious"
The text `Response rate: 66/69 (≈ 96%)` appears as follows:

![image](https://user-images.githubusercontent.com/46688646/72199418-b29ca780-33f0-11ea-900b-9cdcf4cf2f11.png)

The kerning between `%` and `)` looks too wide to my eyes. Perhaps it can be narrowed?

Above screenshot from Google Slides, though I checked on https://tribby.com/fonts/barlow/ just now to be sure, and it looks similar.

[2020-01-12 03:13] oomek opened #59 "A lot of Kerning inconsistencies"
First of all I love this font, but it breaks my heart when I see that kerning tables are still half baked. At least it's what's FontLab is showing. Freetype2 library is making it even worse at small sizes, unfortunately.

![image](https://user-images.githubusercontent.com/2974860/72213608-8c0e6780-34e9-11ea-920c-3ff9127bfa16.png)

[2020-01-31 23:31] leeoniya opened #60 "compatible with pyftsubset?"
hi @jpt ,

i'm trying to achieve a woff2 variable font similar to here [1], but with the current version.

after downloading the zip file from https://tribby.com/fonts/barlow, i run

[code]

which is how i subsetted Oswald-VF:

https://github.com/googlefonts/OswaldFont/blob/master/fonts/ttf/Oswald-VF.ttf

however, with Barlow the results are odd:

![image](https://user-images.githubusercontent.com

[2020-02-01 00:20] leeoniya commented on #60
loading the unmodified BarlowGX.ttf into this playground also shows the lowercase "o" issue:

https://typetools.typenetwork.com/

[2020-02-11 00:10] ralden opened #61 "Please add oldstyle numerals"
Somewhat related to #35

Oldstyle numerals are essential and trending! Check out Corbel. Far easier to read. IMHO they should be the default and one should jump through hoops to get lining/columnar numbers (the need for which can very often be inferred by context).

Would definitely contribute $ to the effort.

[2020-02-17 13:09] dreadnaught-v9 opened #62 "Space at beginning Apostrophe too big"
![2020-02-17 14_06_45-Window](https://user-images.githubusercontent.com/61149167/74656634-d2ad4c80-518e-11ea-91da-949adaa0001b.png)

As you see in the picture, MS Word 2016 tries to convert Apostrophes with some text in between into a single German quote, where the first is low like a comma. That works, but the spacing between the low Apostrophe and the text is too big.

[2020-02-23 15:27] Daymarius commented on #16
Hi @jpt is there any progress with the cyrillic?

[2020-03-16 15:34] CiceroAgentur opened #63 "German letters – bug?"
Hi,

We're using this font for a project and have problems when we print documents with the font. I've found another topic here that deals with the same issue which could be resolved by simply using the OTF version of the font. Unfortunately this didn't solve the problem for us. Everything looks good on screen but when we print the dots over ö,ä and ü have moved to the left. It looks like this: ¨o

[2020-03-16 15:34] CiceroAgentur commented on #63
![IMG_6841](https://user-images.githubusercontent.com/62253750/76774300-05555f80-67a4-11ea-84e2-061c42f83a5d.JPG)

[2020-03-19 21:56] rchanou commented on #35
It appears the Google Fonts version now has tabular numbers, too. To any web devs not seeing numbers line up, make sure you declare `font-variant-numeric: tabular-nums` in your CSS.

https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-numeric

(I just learned about this property myself for the first time when looking into this issue, so I figured others might find this tip useful too.)

[2020-04-03 15:05] megadr01d commented on #40
Never liked the dotted zeroes very much. Always preferred the slashed zeroes (more old-school computer-like, I guess).

Or the other way around, make the zero (0) more oval, less cylindrical.

[2020-04-03 15:13] megadr01d commented on #35
Using Barlow as the OSD font in IINA video player, makes timestamps/frame counts shift a lot.
On the other hand, for static elements, such as subtitles, it's wonderful.
So another vote for tabular numbers/mono style.

![image](https://user-images.githubusercontent.com/9649385/78376173-d6bdee00-75c5-11ea-9d14-8a6ef37667c1.png)

[2020-04-03 15:14] megadr01d commented on #35
I think it would be sufficient (I don't think anyone is using Barlow for code).

[2020-04-04 20:28] thatcort commented on #35
The one place where I found it would have been useful was for vertically
aligning dates in a dashboard app. Tabular numbers aligned most of the
dates, but the three letter month names have varying width. I agree that
it's likely not worth the effort of a full monospace style... unless you
want to ;)

On Fri, Apr 3, 2020 at 11:15 AM dmz <notifications@github.com> wrote:

[2020-04-12 15:35] arzelcm opened #64 "ldot and Ldot characters MISSING"
I just wanted to implement the font but I found a character is missing. Ldot and ldot ('L·' and 'l·') are used in catalan (ca). They're so simple: just an L with a middle-dot. I tried to implement them separately but it's quite difficult, some navigators get user's nav language and it's impossible to change it, they parse them as ldot unicode. Instead of l·l what I get is a weird character:
![weir

[2020-04-14 12:04] arzelcm commented on #64
I solved it forcing the browser to change the language using `xml:lang="en"`.
It's not a good practice so I hope a fix will be done on this.

[2020-05-14 08:08] orioltestart commented on #46
Hi, I've noticed that this still happens. I also saw that this happens when the document is on "ca" language (<html lang="ca">). It renders correctly on other languages.

Maybe it doesn't have Catalan language support?
Thanks

[2020-05-14 08:21] jorditarrida commented on #46
@jpt I could check what @orioltestart noted and can confirm it's true, and even wrote a Codepen to show it: https://codepen.io/jorditarrida/pen/RwWYNLj

As seen, the issue is only present when the lang is `ca`, with any other real (`en`, `es`) or fake (`çç`) language code, the character renders properly. I set the `lang` attribute to different `div`s to test this issue.

I tested this issue in Goo

[2020-05-24 05:24] visuellemedien commented on #63
I had this problem when I copy-pasted text straight from a PDF to HTML or InDesign: PDF format sometimes uses wrong characters for umlaut. That was not depending on the font in my case.

[2020-05-24 05:34] visuellemedien commented on #62
I ran into this issue, too. In German language scientific text single apostrophes are used very often. It would be great if that could be fixed.

[2020-05-30 11:15] turepalsson commented on #63
I have noticed the same problem. Looks fine on screen using macOS (Catalina 10.15.4) Preview.app, but when printing from Prewiew.app to a HP CP1515n laser printer, the dots over ä and ö slide one character to the left. The ring on å, however, stays put! Several other fonts do not show this problem. Attaching test.pdf which triggers the problem for me.
[test.pdf](https://github.com/jpt/barlow/files

[2020-06-04 14:34] jorditarrida commented on #46
@jpt can you reopen and investigate this issue, please? l·l is critical in Catalan and it seems to be the only affected language :(

[2020-06-04 14:40] jorditarrida commented on #64
Hi @arzelcm,
This is related to issue #46. Just wanted to clarify that although the `Ldot` and `ldot` characters do exist, the proper way to write `l·l` character is not with either of those characters but a three character combination (two `l` and one `·`, the middot character [U+00B7], called "punt volat" in Catalan). Using the `Ldot` [U+013F] and `ldot` [U+0140] characters to write the `l·l` ch

[2020-06-04 16:15] arzelcm commented on #64
Hi @jorditarrida,
First of all, thanks for the references. I didn't know `ldot` is kind of deprecated or not recomended by unicode. Most browsers, including Chrome, interpretate as it when the combination of two `l` and `·` is written. So I'm a bit confused with which would be the best way to fix this: wether forcing the browser language to interpretate it correctly (the way I currently fix it) or

[2020-06-08 10:09] aribronstein opened #65 "Decimal alignment for 500/600 weight version of barlow on google fonts"
![image](https://user-images.githubusercontent.com/571618/84015010-e7069680-a983-11ea-8a8b-9e081a087a70.png)
Medium 500 weight
![image](https://user-images.githubusercontent.com/571618/84014879-aeff5380-a983-11ea-982d-656d01898777.png)
Semi-bold 600 weight
![image](https://user-images.githubusercontent.com/571618/84014856-a3ac2800-a983-11ea-92fb-fdd397c72fd9.png)
Bold 700 weight

I'm using the goo

[2020-07-08 19:46] kozlowski-mathias opened #66 "Issue with 'o' character in variable font"
Hi,
'o' character weight seems to have a problem for width axis small values as you can see in screenshot (weight: 95, width: 300
<img width="319" alt="Capture d’écran 2020-07-08 à 21 44 22" src="https://user-images.githubusercontent.com/967101/86963144-57abf900-c164-11ea-9aa7-82e0b258a876.png">
).

Thank you for the font, nice job.

[2020-09-22 16:25] finnglink commented on #63
I'm having exactly the same problem. Replacing the chars manually brought no change, I will take a look at the OTF version tomorrow. Using an HP printer as well, btw.

[2020-09-23 10:00] finnglink commented on #63
OTF fixed it for me as well!

[2020-09-24 17:27] taviks commented on #38
Any update on this?

Would love to use Barlow as a variable font, but having to use a proprietary tool to build it is a bit of a no-go.

[2020-10-07 12:52] jmontane commented on #64
Hi, ldot characters (both lowercase and uppercase) are legacy characters used for Catalan language only. These characters are valid Unicode codepoints, but they aren't used for Catalan nowadays, because L+00B7+L (3 characters) encoding for geminated el is preferred.

So, there are two different problems here.

First one: the glyph. How is ldot endered? As you can see in other fonts, the dot of ldo

[2020-11-27 01:03] aristid commented on #53
There is still a rendering issue on Windows 10, at least for Barlow Bold:
![barlow-bold-problem](https://user-images.githubusercontent.com/8337421/100399860-ae06cf00-3054-11eb-8a9c-dc1302929169.png)
I'm using woff2, it looks the same in Chrome and Firefox.
Thank you!

[2020-12-01 11:05] remuscodes opened #67 "Please add direct current symbol form two"
Unicode Character “⎓” (U+2393)

I get a question mark when typing ⎓ in a string.

Thanks!

[2020-12-03 15:07] teunhompe opened #68 "Weight / Height issues on Windows, especially for numerals"
Hi,

We're using Barlow in a web project and are noticing rendering issues across Chrome, Edge and Firefox on Windows. What we're seeing is height differences between normal and bold weights, for specific font sizes. For example, the number "2020" on font-size: 13px has a noticeable height difference between font-height: normal and font-height: bold, where bold seems lower/squeezed.

This effect i

[2021-02-03 17:40] ltguillaume commented on #65
Same here, but with the same font weight, it's very different on different zoom states:
For example, Barlow Semi Condensed at 16px (.woff from here):
200% zoom (= ok):
![image](https://user-images.githubusercontent.com/4777345/106786420-d27fb880-664e-11eb-8f47-dcb418a625fd.png)
110%-140% and 180% zoom (above optimal position):
![image](https://user-images.githubusercontent.com/4777345/106786776-39

[2021-02-10 20:17] rfischmann commented on #48
Sorry for re-opening this old ticket, but we've just adopted Barlow as our site's main font and the parenthesis' kerning is bothering us a lot.

Here's a simple example of how it looks, from Google Fonts: https://d.pr/i/JVTSwQ

It doesn't look there's a space before the opening parenthesis at all.

Any way to make this better? Thanks.

[2021-02-16 12:03] GuterPunkt commented on #63
I had this problem until I finally found the solution here. As everybody says, OTF fixed it. However, we use Google fonts via Suitcase. Those are automatically TTF and cannot be removed. This leads to very annoying interferences between the OTF I want to use and the TTF that is automatically activated by Suitcase. Is there any chance this bug in the TTF version can be fixed?

[2021-02-22 02:30] HazardCreative opened #69 "Tabular figures not perfectly aligned"
Using as web font (WOFF & WOFF2) with `font-variant-numeric: tabular-nums`, I'm getting small but noticeable spacing variations between numerals. It looks great with static text, but is distracting when updated in real time:

![RH timer](https://user-images.githubusercontent.com/7169527/108649691-d6ec0400-748b-11eb-825c-aeec03f9c5a5.gif)

Thanks for this excellent typeface. I really appreciate the

[2021-03-02 13:12] agusmba commented on #54
I think the reason I opened this issue was a personal preference for *lighter* bolds, which might go against widespread aesthetic conventions, so maybe there is no real problem here (probably due to years of experiencing Word's lighter *faux bold*).

MS Word is automatically selecting the bold variant (700 weight) of the regular font (400 weight) as specified in the font.
This is currently the onl

[2021-03-11 16:18] lowderdev opened #70 "Not vertically centered"
My team is using this font in a web app and I noticed I couldn't vertically align icons with the text. I eventually realized it was the font itself.

Switching between Arial and Barlow:
![font-weird](https://user-images.githubusercontent.com/10692362/110817501-fa67ca80-8251-11eb-8e07-9c3ec4944f07.gif)

After some googling I found this twitter thread:

https://twitter.com/jocelyncaronfr/status/1194

[2021-03-17 16:57] Marco8301 opened #71 "Letters on the same line don’t have the same baseline"
Hey there.

We are using this font on a Symfony app, although it renders beautifully on "modern" devices (Personally using a MBPro from 2015), we have an issue when using older or less high-end devices. Whatever the browser used (Firefox, Chrome...) and version, same problem. We did change the resolution of the device, same problem.

See for yourself, when using the BarlowSemiCondensed-Medium, we

[2021-03-18 15:49] #71 closed, assigned to nobody

[2021-03-26 10:33] Deksteroo opened #72 "Problem with the dots in "Office" programs"
Hello,

I am reporting a problem with the font in MS Office and LibreOffice.

I get an error and strange vertical dots when inserting multiple dots and printing my document.
Pictures below.
![1](https://user-images.githubusercontent.com/81414371/112618906-f11c5780-8e26-11eb-9722-8f57dde930d8.PNG)
![2](https://user-images.githubusercontent.com/81414371/112618907-f24d8480-8e26-11eb-9df6-cb9698cd32a7

[2021-03-26 11:42] Deksteroo commented on #72
I found out that the problem is font interpretation by the PCL-6 printer driver.
In the print quality settings for Vector, printing is incorrect when Raster is good.
Setting a permanent print as Raster is not a solution because the quality of the prints drops ...
any other solution?

[2021-05-26 08:30] agusmba commented on #72
Shot in the dark here.
I found that previous versions of the font had problems with some of our printers depending on whether I was using the ttf or the otf variants. You could try uninstalling the font and installing the other format just in case...

What version of the font are you using? (1.422 ttf is working fine here)

[2021-05-28 16:20] kenmcd commented on #72
Are you sure it is the TTF version which works, and the OTF which does not?

Why I ask ...
HP PCL printer drivers have a problem with nested components within a font.
We have seen this issue with stacked diacritics (accents) which are nested components within a font.
The accents end up in odd places when printed directly through the printer driver.
Printing it to the PDF first avoids this because

[2021-05-31 11:17] agusmba commented on #72
No, I don't recall wich variant gave me problems, and since then we have changed the printers at work (now ttf are working, but I think otf also work here). Sorry for the noise.

[2021-06-02 16:18] sophiebits-humu commented on #48
@rfischmann Google Fonts is using an old version of Barlow.

[2021-06-07 08:44] Deksteroo commented on #72
We tested several versions of the TTF font. There are errors on each of them.

The error is not even the same. On various printers, sometimes they are dots, as I wrote above, and sometimes they are smaller and more dense.
![TA](https://user-images.githubusercontent.com/81414371/120986808-435deb00-c77d-11eb-87a8-26cd3f505850.PNG)

From what we noticed, the errors concern only Konica Minolta printer

[2021-06-07 13:06] kenmcd commented on #72
The fonts are actually OK.
The issue is the printer driver does not properly handle the use of components in OpenType-TT (TTF) fonts.
One solution, or work-around, is to use the OpenType-PS (OTF) fonts - which do not use components.
Another option is to remove the use of components in the TTF fonts (which will make the file size slightly larger).
I can make you a version of the TTF fonts with the

[2021-06-09 12:20] Deksteroo commented on #72
Yes please, it would be great!

[2021-08-04 09:37] orionseye commented on #52
why do don't fix the issue with these dual ff letters?
it's everywhere.. and if your new releases fix the issue, why not contact Google as creator to mention the bug?
It's 2+ years now since issue has been mentioned
i first saw the bug at https://www.coupler.io and a couple of other sites

[2021-08-30 05:36] jpt commented on #64
hello everyone,
sorry for the premature closure of issue #46, clearly there has been an issue with the anchor auto-positioning itself. some people reminded me of this on twitter and I looked into it.  beyond the dot being in the wrong place, `Ldot` and `ldot` probably shouldn't be in the font at all, in favor of a `locl` opentype feature, and a differently-spaced `periodcentered.loclCAT` — or at l

[2021-09-02 16:05] jmontane commented on #64
Hi,

I tested BarlowCAT-2.zip, and it renders fine l·l (U+00B7). Great!

About Ldot and ldot glyphs. Many fonts add them. They are legacy, few used characters, but  still valid Unicode codes. They don't hurt.

Catalan L·L (encoded with 3 chars, 00B7) is the most common encoding by far, but there are very few users with custom keyboards who type Ldot/ldot followd by another L/l (L·L encoded with 2

[2021-09-03 04:27] jpt commented on #64
Thanks for clarifying @jmontane ! As long the Ldot/ldot glyphs don't hurt, I'll include them along with the spacing-based solution for U+00B7

I'll update here when I've pushed new sources

[2021-09-07 11:40] geoffreycrofte commented on #56
More generally, don't implement these character because screen readers can't deal with those glyphs properly.
Better display not supported characters so content editors stop making shitty content :)
Sorry not sorry @tue0506 :p

An example of the complexity behind my message:
https://www.deque.com/blog/dont-screen-readers-read-whats-screen-part-1-punctuation-typographic-symbols/

[2021-09-07 21:00] forsgren commented on #59
+1

Was about to use this, but "2019" also ended up with poor kerning. Hoping this can be fixed.

[2021-09-22 06:04] jpt commented on #59
Hi all, thanks for pointing this out. I think this broke because I brought in kerning from iKern but didn't bring in the classes? I will have to look. But honestly it's not a lot of masters, I should just re-kern the whole thing once I fix the other glyph-level issues.

[2021-09-22 06:06] jpt commented on #68
I think Barlow is using TTFAutohint which isn't great. I'm going to add manual hinting as a TODO. Starting to consolidate issues. Thanks for reporting, all in this thread.

[2021-09-22 06:07] jpt commented on #70
I'll take a look at the vertical metrics to see if anything is wrong. Adding to my TODOs.

[2021-09-22 06:08] jpt commented on #66
The variable font has a number of issues as a result of coming along when VF rendering technology was still quite nascent.  I should remaster it entirely. Adding to my TODOs.

[2021-09-22 06:09] jpt commented on #64
Just updating this to say I am creating a list of TODOs for the repo and will be stack ranking them. Probably will get this first since it's already in, just not published yet. Will update here when there's a new branch going.

[2021-09-22 06:10] jpt commented on #61
I would consider this, but not until I've fixed issues with existing glyphs. Adding to my TODOs but have to admit it will be near the bottom.

[2021-09-22 06:12] jpt commented on #60
There is a script that needs to be run to fill in the designspace before the VF can be exported. But the VF needs an update RE VF mastering generally, avar table etc and I will address this in a separate issue. Thanks for reporting.

[2021-09-22 06:12] jpt commented on #57
Looking into it, thanks!

[2021-09-22 18:19] oomek commented on #59
Thanks for reply. That's what I did in FontLab ;) Manually re-kerned the missing pairs

[2021-09-28 07:19] agusmba commented on #57
For what is worth, I can no longer replicate the issue, so don't spend too much time on it (if at all)
I've upgraded OneNote (to 365), which might have fixed the issue.
Barlow version 1.422
Unless you can make a quick test to comfirm if this is still an issue, I would probably close it.

[2021-10-19 04:45] jpt commented on #72
I will remove the components in the ellipses as a build step. Thanks for flagging this.

[2021-10-19 04:50] jpt commented on #70
I have fixed this with these metrics in the 1.5 branch https://github.com/jpt/barlow/tree/1.5

[code]

I may need to add some uniform padding to top and bottom to match the previous release in Google Fonts, so that the line height doesn't change. I will check.

[2021-10-19 04:53] jpt commented on #35
it does for numerals only. there was an experimental mono version. it could be nice. looking into it.

[2021-10-19 05:08] jpt commented on #69
you're right, they broke.  I fixed them here, will update the issue when binaries are generated and published https://github.com/jpt/barlow/tree/1.5

[2021-10-19 05:09] jpt commented on #67
looking into it

[2021-10-19 05:17] jpt commented on #39
this is fixed in 1.5, lol took a while. https://github.com/jpt/barlow/tree/1.5

[2021-10-19 05:17] jpt commented on #65
this is now fixed in branch 1.5. https://github.com/jpt/barlow/tree/1.5 I'll close when new binaries are out. thanks.

[2021-10-19 05:18] jpt commented on #64
the source file is now updated here https://github.com/jpt/barlow/tree/1.5

will update when there are new font binaries

[2021-10-19 05:19] jpt commented on #63
this could be because there are nested components in the TTF. looking into it, thanks.

[2021-10-19 05:19] jpt commented on #63
although it could be the printer driver as well

[2021-10-19 05:44] jpt commented on #62
this is fixed in the newest source here https://github.com/jpt/barlow/tree/1.5
I will update when new font binaries are available

[2021-10-19 05:45] jpt commented on #59
this is fixed in https://github.com/jpt/barlow/tree/1.5 - I have rekerned the font. new font binaries coming soon.

[2021-10-19 05:45] jpt commented on #58
this is fixed in the source file at https://github.com/jpt/barlow/tree/1.5
new font binaries coming soon, I will update when available. thanks for reporting.

[2021-10-19 05:46] jpt commented on #56
I will not be implementing this.

[2021-10-19 05:46] #56 closed

[2021-10-19 05:57] jpt commented on #40
I've added a zero with a slash as a stylistic set in 1.5 in the source here: https://github.com/jpt/barlow/tree/1.5

barlow probably has too many users to not annoy a lot of people if I change

I'll update this issue when the new font binaries are published

[2021-10-19 05:58] jpt commented on #38
noninteractive static build is almost ready. VF will take more time. will update soon.

[2021-10-19 05:59] jpt commented on #55
I'm re-hinting the font in the next week or so. will update then.

[2021-10-19 08:20] jpt commented on #68
the font has been manually hinted here: https://github.com/jpt/barlow/tree/1.5
I'll post an update when I compile new binaries from the source

[2021-10-19 08:21] jpt commented on #55
Hinting has been updated in the source, I will generate new TTF binaries soon: https://github.com/jpt/barlow/tree/1.5

[2021-10-19 10:29] Deksteroo commented on #72
This is great news!
Thank you and I look forward to the new release!

[2021-10-19 14:49] sophiebits-humu commented on #58
Amazing, thanks!

[2021-10-21 01:50] lowderdev commented on #70
Wow that's great to hear! I really appreciate it. I'll try and see if the things vertically align with 1.5

[2021-10-21 05:24] jpt commented on #39
there are new binaries in the branch now

[2021-10-21 05:25] jpt commented on #40
there are now binaries in the new branch with the stylistic set available https://github.com/jpt/barlow/tree/1.5/fonts

[2021-10-21 05:28] jpt commented on #45
hmm I also haven't been able to reproduce, unfortunately. my recommendation is to try the latest binaries: https://github.com/jpt/barlow/tree/1.5/fonts in the 1.5 branch. will reopen if I hear back that there are still issues. thanks!

[2021-10-21 05:28] #45 closed

[2021-10-21 05:33] jpt commented on #72
there are new TTF files here, let me know how they work for you if you get a chance https://github.com/jpt/barlow/tree/1.5/fonts/ttf

still testing it myself

[2021-10-21 05:34] jpt commented on #70
I've generated some binaries, let me know if this solves it: https://github.com/jpt/barlow/tree/1.5/fonts

if it does, I may still change vertical metrics between now and release of 1.5, but that's the general approach I'd use (centering on captial letters)

[2021-10-21 05:34] jpt commented on #69
ok, binaries are out here https://github.com/jpt/barlow/tree/1.5/fonts/ttf
testing and will pull in soon

[2021-10-21 05:35] jpt commented on #68
try these TTF files and let me know how it goes. https://github.com/jpt/barlow/tree/1.5/fonts/ttf

[2021-10-21 05:36] jpt commented on #65
binaries are now generated here: https://github.com/jpt/barlow/tree/1.5/fonts

I will do some more testing and then pull it in. thanks again for reporting

[2021-10-21 05:37] jpt commented on #64
new binary files can be tested here https://github.com/jpt/barlow/tree/1.5/fonts

I will do some more testing of my own before pulling it in

thanks again for opening the issue

[2021-10-21 05:38] jpt commented on #59
binaries available here for testing: https://github.com/jpt/barlow/tree/1.5/fonts

[2021-10-21 05:38] jpt commented on #58
new binaries are here: https://github.com/jpt/barlow/tree/1.5/fonts

I'm still testing things out before release but kerning should be improved

[2021-10-21 05:39] jpt commented on #57
thanks! new binaries would fix it in any case I thin: https://github.com/jpt/barlow/tree/1.5/fonts/ttf
I'll close this one out unless I hear back that these arent working. thanks again all!

[2021-10-21 05:40] jpt commented on #55
new TTF files can be found here: https://github.com/jpt/barlow/tree/1.5/fonts/ttf
I will merge them into the main branch once I've finished testing

[2021-10-28 19:36] thatcort opened #73 "Grade Support"
We're using Barlow throughout our app and love it. In one of our tables we bold the text for mouseover and other interactions, but this causes the width to change, causing problems. To prevent this I've done something hacky using shadows to fake a grade change. It would be really nice if the font supported the variable font grade (GRAD) dimension natively.

[2021-10-29 08:35] agusmba commented on #55
I've tried to test the TTF files on http://www.cyreal.org/Font-Testing-Page/ (drag-n-drop) but they are not loading correctly. The OTF versions seem to load ok. I don't know if its Cyreal's page fault, or something in the TTF is strange. Previous Barlow TTF versions load correctly in that page.
Windows preview seems to show the new TTF files ok also.

Another testing page: http://webfont-test.com/

[2021-11-02 04:17] jpt commented on #73
I have heard variations of this request before. I agree it would be nice to support, and makes more sense to me now that it could be a grade axis in a VF rather than a fully multiplexed font. I don't think it's a high priority yet, though - in the 1.5 branch of this repo there's a totally remastered variable font but it does not yet have rounded edges, which is a years-old bug at this point. once

[2021-11-09 12:58] Deksteroo commented on #72
We are still testing but it seems that the font now prints correctly. Thank you !

[2021-11-25 17:00] forsgren opened #74 "Issues regarding lack of overshoot, making rounded characters look smaller"
I find that the characters (mainly caps) that are round at the top or base does not have the visual "overflow" needed for them to visually feel like they are the same height as other letters. This causes S, O, 0 (zero), 8, 9 and so on to look smaller. See attached screenshot. Using capital "i" as a "boxy" comparison.

<img width="334" alt="Screen Shot 2021-11-25 at 17 50 28" src="https://user-imag

[2021-11-25 18:56] forsgren commented on #59
Seems to be improved now 👍

[2021-11-25 22:14] jpt commented on #74
Hi @forsgren thanks for the feedback. I agree with you. IIRC (I’m not at a computer where I can inspect right now) barlow’s overshoots are pretty small (8upm or so). I wonder if this is as much of a visual issue in the upright letters or if the faux-italic is causing downstrokes to appear a bit heavier and thus more in need of overshoot?

if it’s an issue that requires different overshoots for upr

[2021-11-26 07:53] forsgren commented on #59
There still seems to be some issues in the black italic variant. A few of the pairs I think it is a bit off between:

- "SW"
- "OY"
- "SIG" (not quite sure about this one, to me it's the capital i that looks a bit "off center" between S and G)
- "ON"
- "CO"

[2021-11-26 17:46] forsgren commented on #74
To me it seems as if the upright letters have the same issue. Maybe a tad bit less noticeable, but I still find them to appear a bit smaller.

I really appreciate your work with this typeface!

[2021-11-27 04:10] jpt commented on #59
Thanks for reporting - along with #74 I think there is a growing case to seriously look into #11. As it is, the kerning is probably not even receiving the correct offset as the slant is applied in the export process.

[2021-11-27 04:27] jpt commented on #74
No, it's noticeable, you are correct about the uprights. I just had a look. At first glance, I would say the condensed black rounds need to go from could go from 8UPM to at least 10UPM, and the regular width could potentially go all the way up to 14UPM or so. I will play around with them. This is great feedback, thanks again for opening the issue.

[2021-11-27 04:30] jpt commented on #55
Looking into the TTFs, thanks for letting me know

[2021-11-27 04:31] jpt commented on #67
no

[2021-11-27 04:31] #67 closed, assigned to nobody

[2021-11-27 04:38] jpt commented on #16
I'm sorry this is taking so long. I was very lucky to learn about Cyrillic from a workshop with Maria Doreuli & Krista Radoeva since I last commented on this issue. I haven't forgotten. I can't give a timeline yet, but I expect I can work on this once I fix some other issues.

[2021-11-27 07:43] jpt commented on #54
Ah, I understand. Thank you for clarifying. I'll close this as an issue, though I'll consider it. This may ultimately be the difference between a display style and text style..

[2021-11-27 07:43] #54 closed

[2021-11-27 07:56] jpt opened #75 "improve vectors"
I have cleaned up a lot of source drawings in 1.5 so far, but there's still a ways to go.

explore quadratics maybe?

there might be the occasional kink caused by the condensed (straight sided) to wide (regular) transition along the weight axis

[2021-11-27 09:18] forsgren commented on #59
I had a quick look among the upright characters as well. Based on the previous listing I find that at least these are quite noticeable there as well:

- "SW"
- "OY"

These are less so:

- "ON"
- "SIG"
- "CO"

The slant being applied in the export can be one potential cause, but I would guess there still might be some issues among the upright versions.

This is in no way a comprehensive "inspection

[2021-11-27 18:57] rellikmil commented on #16
Glad to hear that

[2021-12-01 20:17] jpt commented on #59
yeah, there are multiple issues with the way I set up Kern On (as based on previously set pairs) — this is all on the list :)

[2021-12-01 21:38] FHLBNY-Marketing opened #76 "Font Rendering Issue"
Hi,

We are having issues with how the font renders on-screen and prints for our powerpoints, word docs, and emails. It appears ok on our website (I believe because it's using WOFF files). I can not figure out what is wrong.  Has anyone encountered this, and is there a solution? This happens for the regular barlow font and barlow medium.  We haven't tested the other fonts.

![image](https://user-i

[2021-12-04 07:33] jpt commented on #75
updates sources incoming

[2021-12-04 07:34] jpt commented on #76
Hi,
yes, this will be fixed soon. Barlow has been manually rehinted, I will let you know when there are new files ready to test

[2021-12-04 07:52] jpt opened #77 "Fix Schwa"
light regular width master is bad

[2021-12-04 07:55] jpt opened #78 "Manual hinting"
Fixes #76 #68 #55
will close after more testing

[2021-12-05 01:00] jpt commented on #74
hi @forsgren — can you take a look at these binaries and let me know if the situation has improved? it's looking about right in my environment
[Barlow1.5-RC1.zip](https://github.com/jpt/barlow/files/7655026/Barlow1.5-RC1.zip)
.

[2021-12-05 01:00] jpt commented on #55
Hi @agusmba — can you give the latest TTF files here a try? I think it will fix the issue. Thanks all in this thread for reporting [Barlow1.5-RC1.zip](https://github.com/jpt/barlow/files/7655026/Barlow1.5-RC1.zip)

[2021-12-05 01:00] jpt commented on #68
New TTFs to try here: [Barlow1.5-RC1.zip](https://github.com/jpt/barlow/files/7655026/Barlow1.5-RC1.zip)

[2021-12-05 01:00] jpt commented on #76
hi @FHLBNY-Marketing can you take a look at the TTF files contained here and let me know if they still have this issue? thank you! [Barlow1.5-RC1.zip](https://github.com/jpt/barlow/files/7655026/Barlow1.5-RC1.zip)

[2021-12-05 08:24] #75 closed, assigned to nobody

[2021-12-05 08:28] jpt opened #79 "convert to quadratic?"
this could solve some kinks in the interpolated vectors along the width axis, I think? (make going from flat to round easier)? am I deluding myself in thinking quadratic solves this?

[2021-12-05 08:31] jpt commented on #79
does fontmake round-trip to PS and back, or something like that? I feel like I read that in a repo somewhere..

[2021-12-05 08:35] jpt commented on #79
(and then of course there's #10)

[2021-12-06 18:12] FHLBNY-Marketing commented on #76
Thanks, I am going to test on a few computers tomorrow. I will post the screenshot tomorrow. We were using the 1.1 version.

[2021-12-08 16:00] FHLBNY-Marketing commented on #76
Hi, Here is a comparison of the V1.1 that we were using and the 1.5. The 1.1 looks cleaner in our Outlook. I think the issue is when we scale down the font.
![image](https://user-images.githubusercontent.com/78866354/145240511-1619edd1-d00a-4fe3-b3f5-19aca26a766e.png)

[2021-12-08 19:10] jpt commented on #76
this is extremely helpful, thank you @FHLBNY-Marketing ! I can see my hinting strategy improved some letters but introduced new complications to others.
Are you able to tell me which version of Windows and Outlook you are using?

[2021-12-08 20:49] FHLBNY-Marketing commented on #76
Sure, Windows 10 and Outlook 365. Also, not sure if the resolution of my screen matter, we are on an aspect ratio of 3:2 so 4500x3000 or 2250x1500

[2021-12-09 08:28] forsgren commented on #74
@jpt It seems to have improved :) To me it still looks like the rounded characters still might need _slightly_ more overshoot. Not sure if you agree?

<img width="358" alt="Screen Shot 2021-12-09 at 09 24 14" src="https://user-images.githubusercontent.com/164518/145360830-991f5782-fb75-4a0f-8240-131f1db82216.png">

Same test string as previously `IIOII0ISI819II`

[2021-12-09 11:42] agusmba commented on #55
Will do. I'll edit this comment with my results. Thanks!

**UPDATE**
The new TTF files load correctly. 👍
However doing a quick comparison with version 1.422, I see some strange artifacts:

![image](https://user-images.githubusercontent.com/3104020/145392847-5888cb02-1d1b-4ebb-9e9d-0518cc3277b0.png)
Notice the uneven characters at size 18 compared with v1.422

Using the testing page I used before,

[2021-12-09 12:18] agusmba commented on #55
The OTF is a bit better than the TTF, but still has some quirks:
![image](https://user-images.githubusercontent.com/3104020/145395037-8c68d6fa-e3f5-4db0-90a5-db0d5f8ed471.png)

[2021-12-10 17:24] FHLBNY-Marketing commented on #76
This is on our VDI - 16x9 Aspect Ratio (v1.5), The issue start at 24pt font or less
![image](https://user-images.githubusercontent.com/78866354/145615008-ec34e5b2-f38e-40ca-ad50-aa41386fae25.png)
Updated to include 2 aspect ratio
![image](https://user-images.githubusercontent.com/78866354/145615574-7a80c813-5472-40b9-bb3a-78492a862990.png)

[2022-01-04 13:46] ymyke commented on #35
Here's another vote vor monospace numerals. We use Barlow for investment reports and it would look much cleaner if the numbers aligned properly.

[2022-01-04 15:55] jpt commented on #35
Hi @ymyke — monospace numerals are already available. You can track progress on the branch with the latest version of them in issue #39. This issue is an unrelated feature request for an entire monospaced font.

[2022-01-04 20:01] ymyke commented on #35
Thanks, @jpt – so to get the monospace numerals in MS Office I can just install the tffs from the 1.5 tree and get them automatically? Can I make them work in Google Docs as well?

[2022-01-04 22:59] jpt commented on #35
No, for google docs you'll have to wait till build 1.5 is merged into the google fonts upstream. apologies for the wait, but it shouldn't be much longer.

[2022-01-05 05:23] jpt commented on #74
Thanks @forsgren; I'm in agreement after looking away from it for a little bit. I will probably go from 12UPM to no more than 15, playing around with it now, will give you an update when there's a new set of files to look at.

[2022-01-05 07:12] ymyke commented on #35
Thanks! Re MS Office: I installed the fonts from the 1.5 branch but the numerals still show up in non-monospace. Is there anything else I need to do to use the monospace numerals in MS Office (Word in this case)?

[2022-01-05 07:46] jpt commented on #35
In Word 2010ʼs Home tab (before Word 2010 not supported), click the Font Dialog Box Launcher, then click the Advanced tab, where you can select number forms (from https://www.typotheque.com/help/opentype_fonts/how_can_i_use_different_numerals_in_microsoft_word)

[2022-01-05 08:13] ymyke commented on #35
That worked, thanks, and much appreciated. We love Barlow!

[2022-01-19 14:03] SimpleJack commented on #63
Hey @jpt , was the font the issue, or the printer drivers?
We are currently having the same problem with Konica Minolta printers and some others.

[2022-01-19 19:39] kenmcd commented on #63
The issue is the printer drivers - they do not handle the components in OpenType-TT (TTF) fonts correctly (all components, not just nested components).
As the printer driver converts the font to PostScript, it makes some errors.

The quickest work-around is to use the OpenType-PS (OTF) fonts.
Those fonts do not have components, so the printer driver does not break them.

Another option is to durin

[2022-01-20 09:56] GuterPunkt commented on #63
Thank you, that sounds reasonable. As the workaround with the OTF version has it's flaws when working with Suitcase and I have no control over my clients printer drivers, my solution would be to avoid Google fonts in print projects, right?

[2022-01-21 21:14] kenmcd commented on #63
Well, that seems severe, but it is up to you.

Note that not all of the fonts have components.
With some fonts the upstream-repo developer may decide to remove them.

Another work-around is to export to PDF, and then print.
The PDF creation libraries are updated regularly and do not have this bug.

My understanding is that the PostScript engines in some of these printers are simply ancient - and t

[2022-01-24 02:47] jpt commented on #79
answer is no for those (me) following along.

I've redrawn the glyphs another way to remove the kinks from the interpolation

[2022-01-24 02:48] jpt commented on #79
<img width="301" alt="Screen Shot 2022-01-23 at 6 48 34 PM" src="https://user-images.githubusercontent.com/5319916/150713919-a8b49de3-6aad-47bc-a6f7-07f46f8d3ad9.png">
<img width="266" alt="Screen Shot 2022-01-23 at 6 48 22 PM" src="https://user-images.githubusercontent.com/5319916/150713921-582978dc-aeff-4e1e-9a5e-f3153fab6348.png">

[2022-01-24 02:50] jpt commented on #79
currently barlow  is not very stable at all in between axes hence all the brace layers. I was able to get rid of a bunch of them with this

[2022-02-03 01:11] elycruz opened #80 "Variable Font support, out of the box"
Hi @jpt ,
  I was wondering if there is any way to use the already existing font files (in "fonts/..." directory) as a variable font (I'm on MS Windows and have been unable to generate the file on my machines due to restrictions).  Optionally, if there are any plans to add the/a generated variable font file, of the existing font variants, to the repo that would be really handy for folks that want

[2022-04-03 04:37] jpt commented on #80
hi @elycruz — full variable font support is coming to barlow soon, likely this year. the work in the 1.5 branch already has improved variable mastering considerably. I'll let you know when I have a solid date in mind.

[2022-04-03 04:38] jpt commented on #80
this relies on https://github.com/jpt/barlow/issues/10 though I'll keep this issue open

[2022-04-03 14:35] elycruz commented on #80
@jpt Great to hear!  Will keep an eye out for updates to the issue (thanks).

[2022-04-05 14:02] ghost opened #81 "Issue with allignment with tabular-nums in version 1.5"
While evaluating many improvements in 1.5 version, there are smaller and larger misalignments present in 1.5 while using with `font-variant-numeric: tabular-nums;`

Hopefully this helps.

![misalignment Barlow 1 5 tabular-nums](https://user-images.githubusercontent.com/48267836/161772125-67e7f7f8-540c-4e61-a97c-f01688678f25.png)

Thank you for amazing font and all the updates.

[2022-04-09 03:01] jpt commented on #81
Thanks @severmaia — much of that should be fixed in an upcoming update. I'll make sure to double-check.

[2022-04-29 09:21] MrCheeze96 opened #82 "Lowercase "i" looks like uppercase "i" in bold on linux"
Hi!

I have a problem on one of the sites that I use (Last.fm), where the lowercase "i" looks like an uppercase "i" or a lowercase "L" if the font is bold and too small. You can read more about this problem on this thread:
https://support.last.fm/t/incorrectly-capitalized-i-in-the-middle-of-some-artist-names-playlists-on-the-website/59228/6

Note that this only happens on my Linux computer.

If yo

[2022-04-29 21:02] kenmcd commented on #82
That looks like an issue with the font rendering settings (antialias) on your Linux system.
Search for: https://duckduckgo.com/?q=linux+antialias+settings

[2022-04-30 10:32] jpt commented on #82
it could also be a hinting issue. I think the current binaries use TTF autohint, which is not ideal. I manually hinted an upcoming release, but it's not quite ready yet.

[2022-04-30 10:34] jpt commented on #82
agree it's worth looking at your antialias/display settings though. I'll leave the issue open while you check

[2022-04-30 11:06] MrCheeze96 commented on #82
I'll double check the settings. But I can't do it until Monday so I'll get back in a few days! :)

[2022-05-03 09:00] MrCheeze96 commented on #82
I've played around with both the anti-aliasing and hinting settings and if I turn off anti-aliasing the problem disappears. But everything looks like shit... But it also disappears when I turn off hinting, but here stuff still looks pretty decent! ;) So I assume that you were correct when you said that the hinting might be off!

I forgot to take any screenshots on this. But I can do that if it hel

[2022-05-29 17:55] Bearpecs opened #83 "combining dot below"
Although it looks fine in InDesign,  in MS Word combining dot below appears as combining dot above.

[2022-09-26 13:17] JamesBoldAgency commented on #16
@jpt I understand you are planning to add the Cyrillic characters to Barlow? Do you have a date when this will be available?

[2022-11-24 09:37] MattiaMarchiorato commented on #70
Hello @jpt, we love Barlow!
Do you have any news about release in Google Fonts the 1.5?